# DISH enrichment tables

## Import modules

In [2]:
# Import modules
import pandas as pd
import numpy as np
from datetime import datetime
pd.set_option('display.max_columns', None)

%load_ext autoreload
%autoreload 2

In [3]:
#pip install openpyxl

## Define functions

In [4]:
def open_file(my_file_path, type_of_exported_file='csv'):
    '''
    Function:   
        + Opens a csv or excel file and converts it into a pandas dataframe with all fields read as string (except NaN)
    Input:
        + my_file_path              => Path of the file
        + type_of_exported_file     => Parameter to select the desired type of exported fiel (csv/xls)
    Output:
        + my_file_as_df => Pandas dataframe
    '''

    # Variable control
    assert isinstance(my_file_path, str), 'Assert: The path to the file must be as string'
    assert len(my_file_path) > 0, 'Assert: Path is empty'
    assert isinstance(type_of_exported_file, str), 'Assert: type_of_exported_file must be a string (csv or xls in this version of the function)'
    assert (type_of_exported_file == 'csv') or (type_of_exported_file == 'xls'), 'Assert: type_of_exported_file must be csv or xls in this version of the function'

    # Code
    if type_of_exported_file == 'csv':
        try:
            #with open(my_file_path) as my_file: # Opening this way it is not necessary to close the file to release resources
            my_file_as_df = pd.read_csv(my_file_path, dtype=str)
            return my_file_as_df
        except:
            print('Exception: Something went wrong @open_file => flag == csv')
    elif type_of_exported_file == 'xls':
        try:
            #with open(my_file_path) as my_file: # Opening this way it is not necessary to close the file to release resources
            my_file_as_df = pd.read_excel(my_file_path)
            return my_file_as_df   
        except:
            print('Exception: Something went wrong @open_file => flag == xls')
    else:
        print('Exception: Flag must be csv or xls in this version of the function')
        return -1

In [5]:
def export_to_xlsx(path, df):
    '''
    Function:   
        + Exports a Panda DF to excel file (.xlsx format)
    Input:
        + path  => Path where the file will be exported to
        + df    => Panda's DF that will be exported
    Output:
        + file => Excel file exported to the specified path
    '''

    # Variable control
    assert isinstance(path, str), 'Assert: The path to export the file must be as string'
    assert len(path) > 0, 'Assert: Path is empty'
    assert isinstance(df, pd.DataFrame), 'Assert: The input file must be Pandas DataFrame'

    # Code
    with pd.ExcelWriter(path) as writer:
        df.to_excel(writer, sheet_name='py_export', index=False)

In [6]:
def export_to_csv(path, df, rem_quotation_marks='n'):
    '''
    Function:   
        + Exports a Panda DF to a Comma Separated Values file (.csv format)
    Input:
        + path                  => Path where the file will be exported to
        + df                    => Panda's DF that will be exported
        + rem_quotation_marks   => Parameter to remove all quotation marks from the DataFrame
    Output:
        + file => Comma Separated Values file exported to the specified path
    '''

    # Variable control
    assert isinstance(path, str), 'Assert: The path to export the file must be as string'
    assert len(path) > 0, 'Assert: Path is empty'
    assert isinstance(df, pd.DataFrame), 'Assert: The input file must be Pandas DataFrame'
    assert isinstance(rem_quotation_marks, str), 'Assert: rem_quotation_marks must be a string (csv or xls in this version of the function)'
    assert (rem_quotation_marks == 'y') or (rem_quotation_marks == 'n'), 'Assert: rem_quotation_marks must be csv or xls in this version of the function'

    # Code
    if rem_quotation_marks == 'n':
        try:
            df.to_csv(path, index=False)
        except:
            print('Exception: Something went wrong @export_to_csv => rem_quotation_marks == n')
    elif rem_quotation_marks == 'y':
        try:
            df = df.apply(lambda x: x.astype(str).str.replace("'", ""))
            df.to_csv(path, index=False)
        except:
            print('Exception: Something went wrong @export_to_csv => rem_quotation_marks == y')
    else:
        print('Exception: rem_quotation_marks must be csv or xls in this version of the function')
        return -1

In [7]:
def export_meta_data(path):
    '''
    Function:   
        + Export metadata
    Input:
        + my_file_path                  => Path of the file
    Output:
        + export    => List of the strings where each item is a line of the txt file
    '''
    
    # Metadata
    source_lines = [
        'Columns Dictionary                  =>  20220825113059.csv\n',
        '\n',
        'ADD/CHANGE/DELETE                   = Not used\n',
        'Technology                          = Not used\n',
        'MCC                                 = Not used\n',
        'MNC                                 = Not used\n',
        'NR Tracking Area Code               = Not used\n',
        'NR Cell ID                          = Used in the ENRICHMENT TABLE to generate the CGI\n',
        'gNodeB Identity Bit Length          = Not used\n',
        'NR PCI                              = Not used\n',
        'Cell Site Common Name               = Used in the ENRICHMENT TABLE as PKEY for left join of 20220825113059.csv with 20% AOI SITE INFO.xlsx\n',
        'Carrier Cell ID Cascade ID          = Not used\n',
        'Market (AOI)                        = Not used\n',
        'Street Address                      = Not used\n',
        'City                                = Not used\n',
        'State                               = Not used\n',
        'County                              = Not used\n',
        'Latitude (degrees)                  = Used in the ENRICHMENT TABLE (as is)\n',
        'Longitude (degrees)                 = Used in the ENRICHMENT TABLE (as is)\n',
        'Cell Portion ID                     = Not used\n',
        'Frequency Band Class                = Not used\n',
        'Frequency                           = Not used\n',
        'Antenna Location                    = Not used\n',
        'Antenna Position Altitude (meters)  = Not used\n',
        'Antenna Height (meters)             = Not used\n',
        'Sector Azimuth (degrees N=0)        = Not used\n',
        'Beam Width (degrees)                = Not used\n',
        'Vertical Beam Width                 = Not used\n',
        'Sector Radius                       = Not used\n',
        'Unit of Radius                      = Not used\n',
        'Antenna Tilt                        = Not used\n',
        'DAS                                 = Not used\n',
        'Repeater                            = Not used\n',
        'Antenna Manufacturer                = Not used\n',
        'Antenna Model #                     = Not used\n',
        'Small Cell                          = Not used\n',
        'Cell Name                           = Used in the ENRICHMENT TABLE (as is)\n',
        '\n',
        '\n']

    aoi_lines = [
        'Columns Dictionary              =>  20% AOI SITE INFO.xlsx\n',
        '\n',
        'Site Name                       = Used in the ENRICHMENT TABLE as FKEY\n',
        'CIQ  gNodeB ID                  = Not used\n',
        'Region                          = Used in the ENRICHMENT TABLE (as CELL_REGION)\n',
        'AWS LZ                          = Used in the ENRICHMENT TABLE (as TOWN)\n',
        'AOI                             = Not used\n',
        'AOI Name                        = Used in the ENRICHMENT TABLE (as CLUSTERNAME)\n',
        'Market                          = Used in the ENRICHMENT TABLE (as market)\n',
        'CU CP ID                        = Not used\n',
        'CU UP ID                        = Not used\n',
        'DU ID                           = Not used\n',
        'NDC Region                      = Used in the ENRICHMENT TABLE (as PROVINCE)\n',
        'NDC MCMS EKS Cluster Name       = Not used\n',
        'BEDC Region                     = Used in the ENRICHMENT TABLE (as division)\n',
        'AWS                             = Not used\n',
        '\n',
        '\n']

    enrich_lines = [
        'Columns Dictionary  => ENRICHMENT FINAL TABLE\n',
        '\n',
        'ID                  = Index (needed by DB, generated by us)\n',
        'TIME_STAMP          = Any valid date (could be today, generated by us)\n',
        'CURRENT_STATUS      = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'CGI                 = 313340 + NR Cell ID transformed to decimal\n',
        '                    = 313340 is the MCC + MNC of DISH\n',
        '                    = NR Cell ID from 20220825113059.csv (provided by DISH, column is in hex format)\n',
        'CELL_NAME           = From 20220825113059.csv (provided by DISH)\n',
        'SITE_NAME           = From 20220825113059.csv (provided by DISH)\n',
        'CELL_TYPE           = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'RAT_TYPE            = NR - CHECK WITH MARTIN WHERE IT IS COMING FROM!!!!!!!!!!!\n',
        'RNC_BSC_NAME        = Filled with '' - cotlumn not in 20220825113059.csv - where it is coming from)\n',
        'SGSN_NAME           = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'CELL_REGION         = From 20% AOI SITE INFO.xlsx (Region)\n',
        'LONGITUDE           = From 20220825113059.csv (provided by DISH)\n',
        'LATITUDE            = From 20220825113059.csv (provided by DISH)\n',
        'ANALYZ              = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'CELL_THROUGHPUT     = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'TOWN                = From 20% AOI SITE INFO.xlsx (AWS LZ)\n',
        'TOWN2               = Same as before but with _BEDC at the end (e.g. New York  => New York_BEDC)\n',
        'VENDOR_NAME         = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'PROVINCE            = From 20% AOI SITE INFO.xlsx (NDC Region)\n',
        'PROVINCE2           = Same as before but with _NDC at the end (e.g. east-1  => east-1_NDC)\n',
        'AZIMUTH_ANGLE       = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'AZIMUTH_LENGTH      = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'AZIMUTH_DIRECTION   = Filled with '' - column no in 20220825113059.csv - where it is coming from)\n',
        'TAC                 = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'HEIGHT              = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'ANTENNA_NAME        = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'PCI                 = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'RSI                 = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'ENODEBID            = VALID VALUES - CHECK WITH MARTIN WHERE IT IS COMING FROM!!!!!!!!!!!\n',
        'SECTOR_ID           = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'DL_CARRIER_NUMBER   = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'BAND                = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'CARRIER_BW          = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'EDT                 = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'MDT                 = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'CLUSTERNAME         = From 20% AOI SITE INFO.xlsx (AOI Name)\n',
        'CLUSTERNAME2        = Same as before but with _AOI at the end (e.g. Albuquerque => Albuquerque_AOI)\n',
        'GC_CODE             = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'ZONE                = Filled with '' - column not in 20220825113059.csv - where it is coming from)\n',
        'market              = From 20% AOI SITE INFO.xlsx (Market)\n',
        'market2             = Same as before but with _Market at the end (e.g. Phoenix => Phoenix_Market)\n',
        'division            = From 20% AOI SITE INFO.xlsx (BEDC Region)\n',
        'division2           = Same as before but with _RDC at the end (e.g. west-2 => west-2_2_RDC)\n',
        '\n',
        'Obs.: When this ENRICHMENT FINAL TABLE exported to csv, the values of the columns ending in 2 will be\n',
        'assinged to the original name, then dropped (e.g. values of market2 => market then drop market2 so\n',
        'only will remain market but with the values of market2).\n',
        '\n',
        '\n']


    # Code
    with open(path, "w") as my_file:                        # Opening this way it is not necessary to close the file to release resources
        my_file.writelines(enrich_lines)
        my_file.writelines(source_lines)
        my_file.writelines(aoi_lines)
        my_file.close()

## Load files

In [8]:
# Especify the path to the file
path_to_n1_acdm = 'C:/Users/alvaro.mendoza/OneDrive - RADCOM Ltd/_DISH/DISH_Enrichment/N1 ACDM Export/20220825113059.csv'
path_to_aoi_20 = 'C:/Users/alvaro.mendoza/OneDrive - RADCOM Ltd/_DISH/DISH_Enrichment/20% AOI SITE INFO.xlsx'

## Data manipulation

#### ACDM File

In [9]:
df_n1_acdm = open_file(path_to_n1_acdm, type_of_exported_file='csv')
n1_acdm_col = ['Cell Site Common Name', 'Cell Name', 'NR Cell ID', 'Longitude (degrees)', 'Latitude (degrees)'] # 20220825113059 for ENRICHMENT FINAL TABLE
df_n1_acdm = df_n1_acdm[n1_acdm_col]
df_n1_acdm = df_n1_acdm.sort_values(by=['Cell Site Common Name', 'Cell Name'], ignore_index=True)
df_n1_acdm = df_n1_acdm.dropna(subset=['NR Cell ID'])
df_n1_acdm = df_n1_acdm.drop_duplicates(subset=['NR Cell ID'], keep='first')
df_n1_acdm = df_n1_acdm.reset_index(drop=True)
df_n1_acdm['NR Cell ID'] = df_n1_acdm['NR Cell ID'].astype(str)
df_n1_acdm['NR Cell ID'] = df_n1_acdm['NR Cell ID'].str.lower()
df_n1_acdm['NR Cell ID'] = '0x' + df_n1_acdm['NR Cell ID']
df_n1_acdm['NR Cell ID dec'] = df_n1_acdm['NR Cell ID'].apply(int, base=16)
df_n1_acdm['NR Cell ID dec'] = df_n1_acdm['NR Cell ID dec'].astype(str)
df_n1_acdm['NR CGI dec'] = '313340' + df_n1_acdm['NR Cell ID dec']
df_n1_acdm['NR CGI dec'] = df_n1_acdm['NR CGI dec'].astype(str)
df_n1_acdm

,Cell Site Common Name,Cell Name,NR Cell ID,Longitude (degrees),Latitude (degrees),NR Cell ID dec,NR CGI dec
0,ALALB00003A,ALALB00003A_n29_E_DL_1,0x04bedd003,-73.753416,42.868397,1273876483,3133401273876483
1,ALALB00003A,ALALB00003A_n29_E_DL_2,0x04bedd004,-73.753416,42.868397,1273876484,3133401273876484
2,ALALB00003A,ALALB00003A_n29_E_DL_3,0x04bedd005,-73.753416,42.868397,1273876485,3133401273876485
3,ALALB00003A,ALALB00003A_n66_AWS-4_DL_1,0x04bedd009,-73.753416,42.868397,1273876489,3133401273876489
4,ALALB00003A,ALALB00003A_n66_AWS-4_DL_2,0x04bedd00a,-73.753416,42.868397,1273876490,3133401273876490
...,...,...,...,...,...,...,...
206479,SYSYR00553A,SYSYR00553A_n70_AWS-4_UL15_2,0x069b8711e,-77.645914,43.242514,1773695262,3133401773695262
206480,SYSYR00553A,SYSYR00553A_n70_AWS-4_UL15_3,0x069b8711f,-77.645914,43.242514,1773695263,3133401773695263
206481,SYSYR00553A,SYSYR00553A_n71_F-G_1,0x069b87117,-77.645914,43.242514,1773695255,3133401773695255
206482,SYSYR00553A,SYSYR00553A_n71_F-G_2,0x069b87118,-77.645914,43.242514,1773695256,3133401773695256
206483,SYSYR00553A,SYSYR00553A_n71_F-G_3,0x069b87119,-77.645914,43.242514,1773695257,3133401773695257

#### AOI File

In [10]:
df_aoi_20 = open_file(path_to_aoi_20, type_of_exported_file='xls')
aoi_20_col = ['Site Name','Region' ,'AWS LZ', 'NDC Region', 'AOI Name', 'Market', 'BEDC Region'] # 20% AOI SITE INFO.xlsx
df_aoi_20 = df_aoi_20[aoi_20_col]
df_aoi_20 = df_aoi_20.dropna(subset=['Site Name'])
df_aoi_20 = df_aoi_20.drop_duplicates(subset=['Site Name'], keep='first')
df_aoi_20 = df_aoi_20.reset_index(drop=True)
df_aoi_20

,Site Name,Region,AWS LZ,NDC Region,AOI Name,Market,BEDC Region
0,ATABY00003A,South,Atlanta,east-1,RO-Georgia,Atlanta,east-1
1,ATABY00009A,South,Atlanta,east-1,RO-Georgia,Atlanta,east-1
2,ATABY00010A,South,Atlanta,east-1,RO-Georgia,Atlanta,east-1
3,ATABY00011A,South,Atlanta,east-1,RO-Georgia,Atlanta,east-1
4,ATABY00012A,South,Atlanta,east-1,RO-Georgia,Atlanta,east-1
...,...,...,...,...,...,...,...
8200,SYSYR00535A,Northeast,New York,east-1,Syracuse,Syracuse,east-1
8201,SYSYR00536A,Northeast,New York,east-1,Syracuse,Syracuse,east-1
8202,SYSYR00540A,Northeast,New York,east-1,Syracuse,Syracuse,east-1
8203,SYSYR00541A,Northeast,New York,east-1,Syracuse,Syracuse,east-1
8204,SYSYR00542A,Northeast,New York,east-1,Syracuse,Syracuse,east-1

## JOIN/MERGE tables (create enrichment table)

#### Merge Files

In [11]:
df_enrich = pd.merge(df_n1_acdm, df_aoi_20, how='left', left_on='Cell Site Common Name', right_on='Site Name')
df_enrich

,Cell Site Common Name,Cell Name,NR Cell ID,Longitude (degrees),Latitude (degrees),NR Cell ID dec,NR CGI dec,Site Name,Region,AWS LZ,NDC Region,AOI Name,Market,BEDC Region
0,ALALB00003A,ALALB00003A_n29_E_DL_1,0x04bedd003,-73.753416,42.868397,1273876483,3133401273876483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALALB00003A,ALALB00003A_n29_E_DL_2,0x04bedd004,-73.753416,42.868397,1273876484,3133401273876484,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALALB00003A,ALALB00003A_n29_E_DL_3,0x04bedd005,-73.753416,42.868397,1273876485,3133401273876485,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALALB00003A,ALALB00003A_n66_AWS-4_DL_1,0x04bedd009,-73.753416,42.868397,1273876489,3133401273876489,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALALB00003A,ALALB00003A_n66_AWS-4_DL_2,0x04bedd00a,-73.753416,42.868397,1273876490,3133401273876490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206479,SYSYR00553A,SYSYR00553A_n70_AWS-4_UL15_2,0x069b8711e,-77.645914,43.242514,1773695262,3133401773695262,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206480,SYSYR00553A,SYSYR00553A_n70_AWS-4_UL15_3,0x069b8711f,-77.645914,43.242514,1773695263,3133401773695263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206481,SYSYR00553A,SYSYR00553A_n71_F-G_1,0x069b87117,-77.645914,43.242514,1773695255,3133401773695255,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206482,SYSYR00553A,SYSYR00553A_n71_F-G_2,0x069b87118,-77.645914,43.242514,1773695256,3133401773695256,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206483,SYSYR00553A,SYSYR00553A_n71_F-G_3,0x069b87119,-77.645914,43.242514,1773695257,3133401773695257,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Adjust column names & Clean Up

In [12]:
# Drop unused cols
df_enrich = df_enrich.drop(columns=['Site Name','NR Cell ID','NR Cell ID dec'])

# Rename cols from 20220825113059.csv
df_enrich = df_enrich.rename(columns={'Cell Name':'CELL_NAME'})
df_enrich = df_enrich.rename(columns={'Cell Site Common Name':'SITE_NAME'})
df_enrich = df_enrich.rename(columns={'Longitude (degrees)':'LONGITUDE'})
df_enrich = df_enrich.rename(columns={'Latitude (degrees)':'LATITUDE'})

# Rename cols generated during data manipulation
df_enrich = df_enrich.rename(columns={'NR CGI dec':'CGI'})

# Rename cols from 20% AOI SITE INFO.xlsx
df_enrich = df_enrich.rename(columns={'Region':'CELL_REGION'})
df_enrich = df_enrich.rename(columns={'AWS LZ':'TOWN'})
df_enrich = df_enrich.rename(columns={'NDC Region':'PROVINCE'})
df_enrich = df_enrich.rename(columns={'AOI Name':'CLUSTERNAME'})
df_enrich = df_enrich.rename(columns={'Market':'market'})
df_enrich = df_enrich.rename(columns={'BEDC Region':'division'})
df_enrich

,SITE_NAME,CELL_NAME,LONGITUDE,LATITUDE,CGI,CELL_REGION,TOWN,PROVINCE,CLUSTERNAME,market,division
0,ALALB00003A,ALALB00003A_n29_E_DL_1,-73.753416,42.868397,3133401273876483,NaN,NaN,NaN,NaN,NaN,NaN
1,ALALB00003A,ALALB00003A_n29_E_DL_2,-73.753416,42.868397,3133401273876484,NaN,NaN,NaN,NaN,NaN,NaN
2,ALALB00003A,ALALB00003A_n29_E_DL_3,-73.753416,42.868397,3133401273876485,NaN,NaN,NaN,NaN,NaN,NaN
3,ALALB00003A,ALALB00003A_n66_AWS-4_DL_1,-73.753416,42.868397,3133401273876489,NaN,NaN,NaN,NaN,NaN,NaN
4,ALALB00003A,ALALB00003A_n66_AWS-4_DL_2,-73.753416,42.868397,3133401273876490,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
206479,SYSYR00553A,SYSYR00553A_n70_AWS-4_UL15_2,-77.645914,43.242514,3133401773695262,NaN,NaN,NaN,NaN,NaN,NaN
206480,SYSYR00553A,SYSYR00553A_n70_AWS-4_UL15_3,-77.645914,43.242514,3133401773695263,NaN,NaN,NaN,NaN,NaN,NaN
206481,SYSYR00553A,SYSYR00553A_n71_F-G_1,-77.645914,43.242514,3133401773695255,NaN,NaN,NaN,NaN,NaN,NaN
206482,SYSYR00553A,SYSYR00553A_n71_F-G_2,-77.645914,43.242514,3133401773695256,NaN,NaN,NaN,NaN,NaN,NaN
206483,SYSYR00553A,SYSYR00553A_n71_F-G_3,-77.645914,43.242514,3133401773695257,NaN,NaN,NaN,NaN,NaN,NaN

#### Prepare enrichment to be exported

In [13]:
df_enrich['ID'] = df_enrich.index + 1
df_enrich['TIME_STAMP'] = datetime.today().strftime('%Y-%m-%d') +' 12:00:00.000'
df_enrich['CURRENT_STATUS'] = "'"
df_enrich['CGI'] = "'" + df_enrich['CGI']
df_enrich['CELL_NAME'] = "'" + df_enrich['CELL_NAME']
df_enrich['SITE_NAME'] = "'" + df_enrich['SITE_NAME']
df_enrich['CELL_TYPE'] = "'"
df_enrich['RAT_TYPE'] = "'NR" # CHECK WITH MARTIN - THERE IS NO INFO WHERE IT SHOULD COME FROM
df_enrich['RNC_BSC_NAME'] = "'"
df_enrich['SGSN_NAME'] = "'"
df_enrich['CELL_REGION'] = "'" + df_enrich['CELL_REGION']
df_enrich['LONGITUDE'] = "'" + df_enrich['LONGITUDE']
df_enrich['LATITUDE'] = "'" + df_enrich['LATITUDE']
df_enrich['ANALYZ'] = "'"
df_enrich['CELL_THROUGHPUT'] = "'"
df_enrich['TOWN'] = "'" + df_enrich['TOWN'] + "_BEDC"
df_enrich['VENDOR_NAME'] = "'"
df_enrich['PROVINCE'] = "'" + df_enrich['PROVINCE'] + "_NDC"
df_enrich['AZIMUTH_ANGLE'] = "'"
df_enrich['AZIMUTH_LENGTH'] = "'"
df_enrich['AZIMUTH_DIRECTION'] = "'"
df_enrich['TAC'] = "'"
df_enrich['HEIGHT'] = "'"
df_enrich['ANTENNA_NAME'] = "'"
df_enrich['PCI'] = "'"
df_enrich['RSI'] = "'"
df_enrich['ENODEBID'] = "'" # CHECK WITH MARTIN - THERE IS NO INFO WHERE IT SHOULD COME FROM
df_enrich['SECTOR_ID'] = "'"
df_enrich['DL_CARRIER_NUMBER'] = "'"
df_enrich['BAND'] = "'"
df_enrich['CARRIER_BW'] = "'"
df_enrich['EDT'] = "'"
df_enrich['MDT'] = "'"
df_enrich['CLUSTERNAME'] = "'" + df_enrich['CLUSTERNAME'] + "_AOI"
df_enrich['ZONE'] = "'"
df_enrich['GC_CODE'] = "'"
df_enrich['market'] = "'" + df_enrich['market'] + "_Market"
df_enrich['division'] = "'" + df_enrich['division'] + "_RDC"
df_enrich = df_enrich.fillna("'")
final_enrich_col = ['ID','TIME_STAMP','CURRENT_STATUS','CGI','CELL_NAME','SITE_NAME','CELL_TYPE',
                    'RAT_TYPE','RNC_BSC_NAME','SGSN_NAME','CELL_REGION','LONGITUDE','LATITUDE','ANALYZ',
                    'CELL_THROUGHPUT','TOWN','VENDOR_NAME','PROVINCE','AZIMUTH_ANGLE',
                    'AZIMUTH_LENGTH','AZIMUTH_DIRECTION','TAC','HEIGHT','ANTENNA_NAME','PCI','RSI',
                    'ENODEBID','SECTOR_ID','DL_CARRIER_NUMBER','BAND','CARRIER_BW','EDT','MDT','CLUSTERNAME',
                    'GC_CODE','ZONE','market','division']
df_enrich = df_enrich[final_enrich_col]
df_enrich

,ID,TIME_STAMP,CURRENT_STATUS,CGI,CELL_NAME,SITE_NAME,CELL_TYPE,RAT_TYPE,RNC_BSC_NAME,SGSN_NAME,CELL_REGION,LONGITUDE,LATITUDE,ANALYZ,CELL_THROUGHPUT,TOWN,VENDOR_NAME,PROVINCE,AZIMUTH_ANGLE,AZIMUTH_LENGTH,AZIMUTH_DIRECTION,TAC,HEIGHT,ANTENNA_NAME,PCI,RSI,ENODEBID,SECTOR_ID,DL_CARRIER_NUMBER,BAND,CARRIER_BW,EDT,MDT,CLUSTERNAME,GC_CODE,ZONE,market,division
0,1,2023-04-24 12:00:00.000,','3133401273876483,'ALALB00003A_n29_E_DL_1,'ALALB00003A,','NR,',',','-73.753416,'42.868397,',',',',',',',',',',',',',',',',',',',',',',',','
1,2,2023-04-24 12:00:00.000,','3133401273876484,'ALALB00003A_n29_E_DL_2,'ALALB00003A,','NR,',',','-73.753416,'42.868397,',',',',',',',',',',',',',',',',',',',',',',',','
2,3,2023-04-24 12:00:00.000,','3133401273876485,'ALALB00003A_n29_E_DL_3,'ALALB00003A,','NR,',',','-73.753416,'42.868397,',',',',',',',',',',',',',',',',',',',',',',',','
3,4,2023-04-24 12:00:00.000,','3133401273876489,'ALALB00003A_n66_AWS-4_DL_1,'ALALB00003A,','NR,',',','-73.753416,'42.868397,',',',',',',',',',',',',',',',',',',',',',',',','
4,5,2023-04-24 12:00:00.000,','3133401273876490,'ALALB00003A_n66_AWS-4_DL_2,'ALALB00003A,','NR,',',','-73.753416,'42.868397,',',',',',',',',',',',',',',',',',',',',',',',','
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206479,206480,2023-04-24 12:00:00.000,','3133401773695262,'SYSYR00553A_n70_AWS-4_UL15_2,'SYSYR00553A,','NR,',',','-77.645914,'43.242514,',',',',',',',',',',',',',',',',',',',',',',',','
206480,206481,2023-04-24 12:00:00.000,','3133401773695263,'SYSYR00553A_n70_AWS-4_UL15_3,'SYSYR00553A,','NR,',',','-77.645914,'43.242514,',',',',',',',',',',',',',',',',',',',',',',',','
206481,206482,2023-04-24 12:00:00.000,','3133401773695255,'SYSYR00553A_n71_F-G_1,'SYSYR00553A,','NR,',',','-77.645914,'43.242514,',',',',',',',',',',',',',',',',',',',',',',',','
206482,206483,2023-04-24 12:00:00.000,','3133401773695256,'SYSYR00553A_n71_F-G_2,'SYSYR00553A,','NR,',',','-77.645914,'43.242514,',',',',',',',',',',',',',',',',',',',',',',',','
206483,206484,2023-04-24 12:00:00.000,','3133401773695257,'SYSYR00553A_n71_F-G_3,'SYSYR00553A,','NR,',',','-77.645914,'43.242514,',',',',',',',',',',',',',',',',',',',',',',',','

In [14]:
df_enrich[df_enrich['CELL_REGION'] != "'"]

,ID,TIME_STAMP,CURRENT_STATUS,CGI,CELL_NAME,SITE_NAME,CELL_TYPE,RAT_TYPE,RNC_BSC_NAME,SGSN_NAME,CELL_REGION,LONGITUDE,LATITUDE,ANALYZ,CELL_THROUGHPUT,TOWN,VENDOR_NAME,PROVINCE,AZIMUTH_ANGLE,AZIMUTH_LENGTH,AZIMUTH_DIRECTION,TAC,HEIGHT,ANTENNA_NAME,PCI,RSI,ENODEBID,SECTOR_ID,DL_CARRIER_NUMBER,BAND,CARRIER_BW,EDT,MDT,CLUSTERNAME,GC_CODE,ZONE,market,division
1020,1021,2023-04-24 12:00:00.000,','3133402093060099,'ATABY00003A_n29_E_DL_1,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1021,1022,2023-04-24 12:00:00.000,','3133402093060100,'ATABY00003A_n29_E_DL_2,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1022,1023,2023-04-24 12:00:00.000,','3133402093060101,'ATABY00003A_n29_E_DL_3,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1023,1024,2023-04-24 12:00:00.000,','3133402093060105,'ATABY00003A_n66_AWS-4_DL_1,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1024,1025,2023-04-24 12:00:00.000,','3133402093060106,'ATABY00003A_n66_AWS-4_DL_2,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206467,206468,2023-04-24 12:00:00.000,','3133401773580343,'SYSYR00542A_n70_AWS-4_UL15_2,'SYSYR00542A,','NR,',','Northeast,'-75.592900,'43.108400,',','New York_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','Syracuse_AOI,',','Syracuse_Market,'east-1_RDC
206468,206469,2023-04-24 12:00:00.000,','3133401773580344,'SYSYR00542A_n70_AWS-4_UL15_3,'SYSYR00542A,','NR,',','Northeast,'-75.592900,'43.108400,',','New York_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','Syracuse_AOI,',','Syracuse_Market,'east-1_RDC
206469,206470,2023-04-24 12:00:00.000,','3133401773580336,'SYSYR00542A_n71_A_1,'SYSYR00542A,','NR,',','Northeast,'-75.592900,'43.108400,',','New York_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','Syracuse_AOI,',','Syracuse_Market,'east-1_RDC
206470,206471,2023-04-24 12:00:00.000,','3133401773580337,'SYSYR00542A_n71_A_2,'SYSYR00542A,','NR,',','Northeast,'-75.592900,'43.108400,',','New York_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','Syracuse_AOI,',','Syracuse_Market,'east-1_RDC
206471,206472,2023-04-24 12:00:00.000,','3133401773580338,'SYSYR00542A_n71_A_3,'SYSYR00542A,','NR,',','Northeast,'-75.592900,'43.108400,',','New York_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','Syracuse_AOI,',','Syracuse_Market,'east-1_RDC

In [15]:
df_enrich.dtypes

ID                    int64
TIME_STAMP           object
CURRENT_STATUS       object
CGI                  object
CELL_NAME            object
SITE_NAME            object
CELL_TYPE            object
RAT_TYPE             object
RNC_BSC_NAME         object
SGSN_NAME            object
CELL_REGION          object
LONGITUDE            object
LATITUDE             object
ANALYZ               object
CELL_THROUGHPUT      object
TOWN                 object
VENDOR_NAME          object
PROVINCE             object
AZIMUTH_ANGLE        object
AZIMUTH_LENGTH       object
AZIMUTH_DIRECTION    object
TAC                  object
HEIGHT               object
ANTENNA_NAME         object
PCI                  object
RSI                  object
ENODEBID             object
SECTOR_ID            object
DL_CARRIER_NUMBER    object
BAND                 object
CARRIER_BW           object
EDT                  object
MDT                  object
CLUSTERNAME          object
GC_CODE              object
ZONE                 object
market               object
division             object
dtype: object

In [18]:
df_enrich[df_enrich['SITE_NAME'] == "'ATABY00003A"]

,ID,TIME_STAMP,CURRENT_STATUS,CGI,CELL_NAME,SITE_NAME,CELL_TYPE,RAT_TYPE,RNC_BSC_NAME,SGSN_NAME,CELL_REGION,LONGITUDE,LATITUDE,ANALYZ,CELL_THROUGHPUT,TOWN,VENDOR_NAME,PROVINCE,AZIMUTH_ANGLE,AZIMUTH_LENGTH,AZIMUTH_DIRECTION,TAC,HEIGHT,ANTENNA_NAME,PCI,RSI,ENODEBID,SECTOR_ID,DL_CARRIER_NUMBER,BAND,CARRIER_BW,EDT,MDT,CLUSTERNAME,GC_CODE,ZONE,market,division
1020,1021,2023-04-24 12:00:00.000,','3133402093060099,'ATABY00003A_n29_E_DL_1,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1021,1022,2023-04-24 12:00:00.000,','3133402093060100,'ATABY00003A_n29_E_DL_2,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1022,1023,2023-04-24 12:00:00.000,','3133402093060101,'ATABY00003A_n29_E_DL_3,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1023,1024,2023-04-24 12:00:00.000,','3133402093060105,'ATABY00003A_n66_AWS-4_DL_1,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1024,1025,2023-04-24 12:00:00.000,','3133402093060106,'ATABY00003A_n66_AWS-4_DL_2,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1025,1026,2023-04-24 12:00:00.000,','3133402093060107,'ATABY00003A_n66_AWS-4_DL_3,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1026,1027,2023-04-24 12:00:00.000,','3133402093060108,'ATABY00003A_n70_AWS-4_UL15_1,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1027,1028,2023-04-24 12:00:00.000,','3133402093060109,'ATABY00003A_n70_AWS-4_UL15_2,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1028,1029,2023-04-24 12:00:00.000,','3133402093060110,'ATABY00003A_n70_AWS-4_UL15_3,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1029,1030,2023-04-24 12:00:00.000,','3133402093060102,'ATABY00003A_n71_F_1,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1030,1031,2023-04-24 12:00:00.000,','3133402093060103,'ATABY00003A_n71_F_2,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC
1031,1032,2023-04-24 12:00:00.000,','3133402093060104,'ATABY00003A_n71_F_3,'ATABY00003A,','NR,',','South,'-83.218750,'30.759833,',','Atlanta_BEDC,','east-1_NDC,',',',',',',',',',',',',',',','RO-Georgia_AOI,',','Atlanta_Market,'east-1_RDC

## Export tables

#### Set filenames & path

In [20]:
# Set name and path for the export files
today_date = datetime.today().strftime('%Y-%m-%d')
today_date = today_date.replace('-', '')

file_name_acdm_xlsx = today_date + ' - 20220825113059_v5' + '.xlsx'
export_path_acdm = 'C:/Users/alvaro.mendoza/OneDrive - RADCOM Ltd/_DISH/DISH_Enrichment/Script_Outputs/'
file_exp_path_acdm_xlsx = export_path_acdm + file_name_acdm_xlsx

file_name_aoi_xlsx = today_date + ' - 20%_AOI_SITE_INFO_v5' + '.xlsx'
export_path_aoi = 'C:/Users/alvaro.mendoza/OneDrive - RADCOM Ltd/_DISH/DISH_Enrichment/Script_Outputs/'
file_exp_path_aoi_xlsx = export_path_aoi + file_name_aoi_xlsx

file_name_enrich_xlsx = today_date + ' - Enrichment_table_v5' + '.xlsx'
file_exp_path_enrich_table = 'C:/Users/alvaro.mendoza/OneDrive - RADCOM Ltd/_DISH/DISH_Enrichment/Script_Outputs/'
file_exp_path_enrich_xlsx = file_exp_path_enrich_table + file_name_enrich_xlsx

file_name_enrich_csv = today_date + ' - Enrichment_table_v5' + '.csv'
file_exp_path_enrich_table = 'C:/Users/alvaro.mendoza/OneDrive - RADCOM Ltd/_DISH/DISH_Enrichment/Script_Outputs/'
file_exp_path_enrich_csv = file_exp_path_enrich_table + file_name_enrich_csv

file_name_meta_txt = today_date + ' - Enrichment_meta_data_v5' + '.txt'
export_path_meta = 'C:/Users/alvaro.mendoza/OneDrive - RADCOM Ltd/_DISH/DISH_Enrichment/Script_Outputs/'
file_exp_path_meta_txt = export_path_meta + file_name_meta_txt

#### Export files

In [21]:
#export_to_xlsx(file_exp_path_acdm_xlsx, df_n1_acdm)
#export_to_xlsx(file_exp_path_aoi_xlsx, df_aoi_20)
#export_to_xlsx(file_exp_path_enrich_xlsx, df_enrich)
export_to_csv(file_exp_path_enrich_csv, df_enrich, rem_quotation_marks='y')
export_meta_data(file_exp_path_meta_txt)