# ALL LACs of ALL MSSs

## Import Modules

In [33]:
# Import modules (NOK_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Main Program

### Initialize variables

In [34]:
# Initialize variables used in the program 
MSS_Name = '0'
MSS_Date = '0'
MSS_Time = '0'
ERI_MSS_Pars = [MSS_Name, MSS_Date, MSS_Time]

LAC_str = '0'
LAC_Name = '0'
ZC_0_Stat = ZC_1_Stat = ZC_2_Stat = ZC_3_Stat = ZC_4_Stat = ZC_5_Stat = '0'

ERI_LAC_Pars = [LAC_str, LAC_Name, ZC_0_Stat, ZC_1_Stat, ZC_2_Stat, ZC_3_Stat, ZC_4_Stat, ZC_5_Stat]

ERI_index = 0
ERI_position = 0
ERI_LAC_count = 0

In [35]:
# Create & Initialize & Set the pd.DataFrame
col_names = ['MSS','Date','Time', 'LAC_str','LAC_NAME', 'Claro_Roam', 'Vivo_Roam', 'Oi_Roam', 'Tim_Roam', 'CTBC_Roam', 'Next_Roam']
df_ERI_MSS_LACs = pd.DataFrame(columns=col_names)
df_ERI_MSS_LACs.loc[0] = [MSS_Name, MSS_Date, MSS_Time, LAC_str, LAC_Name, ZC_0_Stat, ZC_1_Stat, ZC_2_Stat, ZC_3_Stat, ZC_4_Stat, ZC_5_Stat]

In [36]:
# Especify the path of the log file
ERI_path_to_file = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MSSBAxERICC - MGNRP.txt'

### Load log file

In [37]:
# Load the log file
ERI_log_file = NOK_ERI_Toolkit.open_file(ERI_path_to_file)

### Execute & Create pd.DataFrame & Pring (Main Function)

In [38]:
# Run the main program (txt => pd.DataFrame)
while (ERI_index < len(ERI_log_file)-1):
    ERI_index, ERI_position, ERI_MSS_Pars = NOK_ERI_Toolkit.get_mss_pars(ERI_log_file, ERI_index,'eaw')
    if (ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
        ERI_index, ERI_position, ERI_LAC_Pars = NOK_ERI_Toolkit.get_mgnrp_lac_pars(ERI_log_file, ERI_index)
        while(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
            RI_index, ERI_position, ERI_LAC_Pars = NOK_ERI_Toolkit.get_mgnrp_lac_pars(ERI_log_file, ERI_index)
            if(ERI_position >= 0) and (not ERI_position == 999) and (not ERI_position == 998):
                new_LAC = ERI_MSS_Pars + ERI_LAC_Pars
                df_ERI_MSS_LACs.loc[ERI_LAC_count] = new_LAC
                ERI_LAC_count = ERI_LAC_count + 1
            ERI_index = ERI_index + 1
    ERI_index = ERI_index + 1

### Drop columns & prepare to merge

In [39]:
# ERICSSON DataFrame => Drop some columns to get just the most important ones.

df_ERI_MSS_LAIs = df_ERI_MSS_LACs

# Very efficient way to split a string column to two or more columns based on a pattern
df_ERI_MSS_LAIs[['MCC','MNC', 'LAC']] =  df_ERI_MSS_LAIs['LAC_NAME'].str.split('-', 2, expand=True)
df_ERI_MSS_LAIs['LAI'] =  df_ERI_MSS_LAIs['LAC_NAME']
df_ERI_MSS_LAIs['MSS-LAI'] =  df_ERI_MSS_LAIs['MSS'] + '-' + df_ERI_MSS_LAIs['LAI']

ERI_drop_col = ['LAC_str', 'LAC_NAME']
df_ERI_MSS_LAIs = df_ERI_MSS_LAIs.drop(columns=ERI_drop_col)
ERI_col = ['MSS', 'Date', 'Time', 'MCC', 'MNC', 'LAC', 'LAI', 'MSS-LAI', 'Claro_Roam', 'Vivo_Roam', 'Oi_Roam', 'Tim_Roam', 'CTBC_Roam', 'Next_Roam']
df_ERI_MSS_LAIs = df_ERI_MSS_LAIs[ERI_col]
df_ERI_MSS_LAIs

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam
0,MSSBA3,0000-00-00,00:00:00,724,05,973,724-05-973,MSSBA3-724-05-973,1,0,0,0,1,0
1,MSSBA3,0000-00-00,00:00:00,724,05,20273,724-05-20273,MSSBA3-724-05-20273,1,1,0,0,1,0
2,MSSBA3,0000-00-00,00:00:00,724,05,30171,724-05-30171,MSSBA3-724-05-30171,1,0,0,0,1,0
3,MSSBA3,0000-00-00,00:00:00,724,05,30173,724-05-30173,MSSBA3-724-05-30173,1,0,0,0,1,0
4,MSSBA3,0000-00-00,00:00:00,724,05,30174,724-05-30174,MSSBA3-724-05-30174,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,MSSBA8,0000-00-00,00:00:00,724,05,55075,724-05-55075,MSSBA8-724-05-55075,1,0,0,0,1,0
143,MSSBA8,0000-00-00,00:00:00,724,05,55171,724-05-55171,MSSBA8-724-05-55171,1,0,0,0,1,0
144,MSSBA8,0000-00-00,00:00:00,724,05,55173,724-05-55173,MSSBA8-724-05-55173,1,0,0,0,1,0
145,MSSBA8,0000-00-00,00:00:00,724,05,59075,724-05-59075,MSSBA8-724-05-59075,1,0,0,0,1,0
146,MSSBA8,0000-00-00,00:00:00,724,08,40275,724-08-40275,MSSBA8-724-08-40275,1,1,1,1,1,0

### Plot + Insights

In [40]:
# Continue...