# Get all defined LAIs & R30k information from Nokia & Ericsson's MSSs

## Import Modules

In [4]:
# Import modules (NOK_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit
from datetime import datetime

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Define paths to the Nokia & Ericsson's logfiles

In [5]:
# Define paths to definded LAIs logfiles...
NOK_path_to_def_lai_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220825 - ZELO - All_MSS.txt'
ERI_path_to_def_lai_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220825 - MSSBAxERICC - MGLAP.txt'

In [6]:
# Define paths to R30k logfiles...
NOK_path_to_r30k_lai_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220825 - ZEKO - All_MSS.txt'
ERI_path_to_r30k_lai_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220825 - MSSBAxERICC - MGNRP.txt'

## Get all defined LAIs & R30k information from Nokia & Ericsson's logfiles

In [7]:
# Get defined LAIs from Nokia's logfiles
df_nok_lai_def_mss_full, df_nok_lai_def_mss_summ = NOK_ERI_Toolkit.get_def_lai_nok(log_file_path=NOK_path_to_def_lai_logfile)

In [8]:
# Get defined LAIs from Ericsson's logfiles
df_eri_lai_def_mss_full, df_eri_lai_def_mss_summ = NOK_ERI_Toolkit.get_def_lai_eri(log_file_path=ERI_path_to_def_lai_logfile)

In [9]:
# Get R30k LAIs information from Nokia's logfiles
df_nok_lai_r30k_mss_full, df_nok_lai_r30k_mss_summ = NOK_ERI_Toolkit.get_r30k_lai_nok(log_file_path=NOK_path_to_r30k_lai_logfile)

In [10]:
# Get R30k LAIs information from Ericsson's logfiles
df_eri_lai_r30k_mss_full, df_eri_lai_r30k_mss_summ = NOK_ERI_Toolkit.get_r30k_lai_eri(log_file_path=ERI_path_to_r30k_lai_logfile)

## Print all defined LAIs & R30k information from Nokia & Ericsson's logfiles

#### Summarized Information

In [11]:
# Print defined LAIs Nokia's summary
df_nok_lai_def_mss_summ

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI
0,MSSBA6,2022-08-25,14:45:22,724,05,2077,724-05-2077,MSSBA6-724-05-2077
1,MSSBA6,2022-08-25,14:45:22,724,05,2575,724-05-2575,MSSBA6-724-05-2575
2,MSSBA6,2022-08-25,14:45:22,724,05,22177,724-05-22177,MSSBA6-724-05-22177
3,MSSBA6,2022-08-25,14:45:22,724,05,1575,724-05-1575,MSSBA6-724-05-1575
4,MSSBA6,2022-08-25,14:45:22,724,05,1475,724-05-1475,MSSBA6-724-05-1475
...,...,...,...,...,...,...,...,...
413,MSSBAC,2022-08-25,14:45:59,724,05,59075,724-05-59075,MSSBAC-724-05-59075
414,MSSBAC,2022-08-25,14:45:59,724,05,59073,724-05-59073,MSSBAC-724-05-59073
415,MSSBAC,2022-08-25,14:45:59,724,05,59074,724-05-59074,MSSBAC-724-05-59074
416,MSSBAC,2022-08-25,14:45:59,724,05,59079,724-05-59079,MSSBAC-724-05-59079
417,MSSBAC,2022-08-25,14:45:59,724,05,59077,724-05-59077,MSSBAC-724-05-59077

In [12]:
# Print defined LAIs Ericsson's summary
df_eri_lai_def_mss_summ

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI
0,MSSBA3,0000-00-00,00:00:00,724,05,20273,724-05-20273,MSSBA3-724-05-20273
1,MSSBA3,0000-00-00,00:00:00,724,05,30173,724-05-30173,MSSBA3-724-05-30173
2,MSSBA3,0000-00-00,00:00:00,724,05,30174,724-05-30174,MSSBA3-724-05-30174
3,MSSBA3,0000-00-00,00:00:00,724,05,30177,724-05-30177,MSSBA3-724-05-30177
4,MSSBA3,0000-00-00,00:00:00,724,05,50373,724-05-50373,MSSBA3-724-05-50373
...,...,...,...,...,...,...,...,...
145,MSSBA8,0000-00-00,00:00:00,724,05,54975,724-05-54975,MSSBA8-724-05-54975
146,MSSBA8,0000-00-00,00:00:00,724,05,55075,724-05-55075,MSSBA8-724-05-55075
147,MSSBA8,0000-00-00,00:00:00,724,05,55171,724-05-55171,MSSBA8-724-05-55171
148,MSSBA8,0000-00-00,00:00:00,724,05,55173,724-05-55173,MSSBA8-724-05-55173
149,MSSBA8,0000-00-00,00:00:00,724,05,59075,724-05-59075,MSSBA8-724-05-59075

In [13]:
# Print R30k LAIs Nokia's summary
df_nok_lai_r30k_mss_summ

,MSS,Date,Time,LAC,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,LAI,MSS-LAI
0,MSSBA6,2022-08-25,14:44:55,2077,1,0,0,0,1,0,724-05-2077,MSSBA6-724-05-2077
1,MSSBA6,2022-08-25,14:44:55,2575,1,0,1,0,1,0,724-05-2575,MSSBA6-724-05-2575
2,MSSBA6,2022-08-25,14:44:55,22177,1,0,1,0,1,0,724-05-22177,MSSBA6-724-05-22177
3,MSSBA6,2022-08-25,14:44:55,1575,1,0,0,0,1,0,724-05-1575,MSSBA6-724-05-1575
4,MSSBA6,2022-08-25,14:44:55,1475,1,0,1,0,1,0,724-05-1475,MSSBA6-724-05-1475
...,...,...,...,...,...,...,...,...,...,...,...,...
413,MSSBAC,2022-08-25,14:45:27,59075,1,0,0,0,0,0,724-05-59075,MSSBAC-724-05-59075
414,MSSBAC,2022-08-25,14:45:27,59073,1,0,0,0,0,0,724-05-59073,MSSBAC-724-05-59073
415,MSSBAC,2022-08-25,14:45:27,59074,1,0,0,0,0,0,724-05-59074,MSSBAC-724-05-59074
416,MSSBAC,2022-08-25,14:45:27,59079,1,0,0,0,0,0,724-05-59079,MSSBAC-724-05-59079
417,MSSBAC,2022-08-25,14:45:27,59077,1,0,0,0,0,0,724-05-59077,MSSBAC-724-05-59077

In [14]:
# Print R30k LAIs Ericsson's summary
df_eri_lai_r30k_mss_summ

,MSS,Date,Time,LAC,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,LAI,MSS-LAI
0,MSSBA3,0000-00-00,00:00:00,20273,1,1,0,0,1,0,724-05-20273,MSSBA3-724-05-20273
1,MSSBA3,0000-00-00,00:00:00,30173,1,0,0,0,1,0,724-05-30173,MSSBA3-724-05-30173
2,MSSBA3,0000-00-00,00:00:00,30174,1,0,1,0,1,0,724-05-30174,MSSBA3-724-05-30174
3,MSSBA3,0000-00-00,00:00:00,30177,1,0,1,0,1,0,724-05-30177,MSSBA3-724-05-30177
4,MSSBA3,0000-00-00,00:00:00,50373,1,0,1,0,1,0,724-05-50373,MSSBA3-724-05-50373
...,...,...,...,...,...,...,...,...,...,...,...,...
145,MSSBA8,0000-00-00,00:00:00,54975,1,0,1,0,1,0,724-05-54975,MSSBA8-724-05-54975
146,MSSBA8,0000-00-00,00:00:00,55075,1,0,0,0,1,0,724-05-55075,MSSBA8-724-05-55075
147,MSSBA8,0000-00-00,00:00:00,55171,1,0,0,0,1,0,724-05-55171,MSSBA8-724-05-55171
148,MSSBA8,0000-00-00,00:00:00,55173,1,0,0,0,1,0,724-05-55173,MSSBA8-724-05-55173
149,MSSBA8,0000-00-00,00:00:00,59075,1,0,0,0,1,0,724-05-59075,MSSBA8-724-05-59075

#### Full/Extended Information

In [15]:
# Print defined LAIs Nokia's full
df_nok_lai_def_mss_full

,MSS,Date,Time,MCC,MNC,LAC,LAC_NAME,AT,INT,RNGP,MNC_AL,DSAV,TZ,HONLA,LAI,MSS-LAI
0,MSSBA6,2022-08-25,14:45:22,724,05,2077,LAC2077,001,0600 ( x 10 msec ),004,-,-,-,004,724-05-2077,MSSBA6-724-05-2077
1,MSSBA6,2022-08-25,14:45:22,724,05,2575,LAC2575,001,0600 ( x 10 msec ),002,-,-,-,002,724-05-2575,MSSBA6-724-05-2575
2,MSSBA6,2022-08-25,14:45:22,724,05,22177,LAC22177,001,0600 ( x 10 msec ),004,-,-,-,004,724-05-22177,MSSBA6-724-05-22177
3,MSSBA6,2022-08-25,14:45:22,724,05,1575,LAC1575,001,0600 ( x 10 msec ),002,-,-,-,002,724-05-1575,MSSBA6-724-05-1575
4,MSSBA6,2022-08-25,14:45:22,724,05,1475,LAC1475,001,0600 ( x 10 msec ),002,-,-,-,002,724-05-1475,MSSBA6-724-05-1475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,MSSBAC,2022-08-25,14:45:59,724,05,59075,LAC59075,001,0300 ( x 10 msec ),005,-,-,-,005,724-05-59075,MSSBAC-724-05-59075
414,MSSBAC,2022-08-25,14:45:59,724,05,59073,LAC59073,001,0300 ( x 10 msec ),002,-,-,-,002,724-05-59073,MSSBAC-724-05-59073
415,MSSBAC,2022-08-25,14:45:59,724,05,59074,LAC59074,001,0300 ( x 10 msec ),003,-,-,-,003,724-05-59074,MSSBAC-724-05-59074
416,MSSBAC,2022-08-25,14:45:59,724,05,59079,LAC59079,001,0300 ( x 10 msec ),007,-,-,-,007,724-05-59079,MSSBAC-724-05-59079
417,MSSBAC,2022-08-25,14:45:59,724,05,59077,LAC59077,001,0300 ( x 10 msec ),006,-,-,-,006,724-05-59077,MSSBAC-724-05-59077

In [16]:
# Print defined LAIs Ericsson's full
df_eri_lai_def_mss_full

,MSS,Date,Time,MCC,MNC,LAC,LAI,PFC,PRL,POOL,MSS-LAI
0,MSSBA3,0000-00-00,00:00:00,724,05,20273,724-05-20273,ON,0,0,MSSBA3-724-05-20273
1,MSSBA3,0000-00-00,00:00:00,724,05,30173,724-05-30173,ON,0,0,MSSBA3-724-05-30173
2,MSSBA3,0000-00-00,00:00:00,724,05,30174,724-05-30174,ON,0,0,MSSBA3-724-05-30174
3,MSSBA3,0000-00-00,00:00:00,724,05,30177,724-05-30177,ON,0,0,MSSBA3-724-05-30177
4,MSSBA3,0000-00-00,00:00:00,724,05,50373,724-05-50373,ON,0,0,MSSBA3-724-05-50373
...,...,...,...,...,...,...,...,...,...,...,...
145,MSSBA8,0000-00-00,00:00:00,724,05,54975,724-05-54975,ON,0,0,MSSBA8-724-05-54975
146,MSSBA8,0000-00-00,00:00:00,724,05,55075,724-05-55075,ON,0,0,MSSBA8-724-05-55075
147,MSSBA8,0000-00-00,00:00:00,724,05,55171,724-05-55171,ON,0,0,MSSBA8-724-05-55171
148,MSSBA8,0000-00-00,00:00:00,724,05,55173,724-05-55173,ON,0,0,MSSBA8-724-05-55173
149,MSSBA8,0000-00-00,00:00:00,724,05,59075,724-05-59075,ON,0,0,MSSBA8-724-05-59075

In [17]:
# Print R30k LAIs Nokia's full
df_nok_lai_r30k_mss_full

,MSS,Date,Time,LAC,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,MCC,MNC,LAI,MSS-LAI
0,MSSBA6,2022-08-25,14:44:55,2077,LAC2077,1,0,0,0,1,0,724,05,724-05-2077,MSSBA6-724-05-2077
1,MSSBA6,2022-08-25,14:44:55,2575,LAC2575,1,0,1,0,1,0,724,05,724-05-2575,MSSBA6-724-05-2575
2,MSSBA6,2022-08-25,14:44:55,22177,LAC22177,1,0,1,0,1,0,724,05,724-05-22177,MSSBA6-724-05-22177
3,MSSBA6,2022-08-25,14:44:55,1575,LAC1575,1,0,0,0,1,0,724,05,724-05-1575,MSSBA6-724-05-1575
4,MSSBA6,2022-08-25,14:44:55,1475,LAC1475,1,0,1,0,1,0,724,05,724-05-1475,MSSBA6-724-05-1475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,MSSBAC,2022-08-25,14:45:27,59075,LAC59075,1,0,0,0,0,0,724,05,724-05-59075,MSSBAC-724-05-59075
414,MSSBAC,2022-08-25,14:45:27,59073,LAC59073,1,0,0,0,0,0,724,05,724-05-59073,MSSBAC-724-05-59073
415,MSSBAC,2022-08-25,14:45:27,59074,LAC59074,1,0,0,0,0,0,724,05,724-05-59074,MSSBAC-724-05-59074
416,MSSBAC,2022-08-25,14:45:27,59079,LAC59079,1,0,0,0,0,0,724,05,724-05-59079,MSSBAC-724-05-59079
417,MSSBAC,2022-08-25,14:45:27,59077,LAC59077,1,0,0,0,0,0,724,05,724-05-59077,MSSBAC-724-05-59077

In [18]:
# Print R30k LAIs Ericsson's full
df_eri_lai_r30k_mss_full

,MSS,Date,Time,LAC_NO,LAC_NAME,Claro_Roam,Vivo_Roam,Oi_Roam,Tim_Roam,CTBC_Roam,Next_Roam,MCC,MNC,LAC,LAI,MSS-LAI
0,MSSBA3,0000-00-00,00:00:00,20273,724-05-20273,1,1,0,0,1,0,724,05,20273,724-05-20273,MSSBA3-724-05-20273
1,MSSBA3,0000-00-00,00:00:00,30173,724-05-30173,1,0,0,0,1,0,724,05,30173,724-05-30173,MSSBA3-724-05-30173
2,MSSBA3,0000-00-00,00:00:00,30174,724-05-30174,1,0,1,0,1,0,724,05,30174,724-05-30174,MSSBA3-724-05-30174
3,MSSBA3,0000-00-00,00:00:00,30177,724-05-30177,1,0,1,0,1,0,724,05,30177,724-05-30177,MSSBA3-724-05-30177
4,MSSBA3,0000-00-00,00:00:00,50373,724-05-50373,1,0,1,0,1,0,724,05,50373,724-05-50373,MSSBA3-724-05-50373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,MSSBA8,0000-00-00,00:00:00,54975,724-05-54975,1,0,1,0,1,0,724,05,54975,724-05-54975,MSSBA8-724-05-54975
146,MSSBA8,0000-00-00,00:00:00,55075,724-05-55075,1,0,0,0,1,0,724,05,55075,724-05-55075,MSSBA8-724-05-55075
147,MSSBA8,0000-00-00,00:00:00,55171,724-05-55171,1,0,0,0,1,0,724,05,55171,724-05-55171,MSSBA8-724-05-55171
148,MSSBA8,0000-00-00,00:00:00,55173,724-05-55173,1,0,0,0,1,0,724,05,55173,724-05-55173,MSSBA8-724-05-55173
149,MSSBA8,0000-00-00,00:00:00,59075,724-05-59075,1,0,0,0,1,0,724,05,59075,724-05-59075,MSSBA8-724-05-59075

## Export to excel

In [19]:
# Create a unique DataFram with defined LAIs of both Vendors
df_def_lai_summ = pd.concat([df_nok_lai_def_mss_summ, 
                                df_eri_lai_def_mss_summ], ignore_index=True, sort=False)

In [20]:
# Create a unique DataFram with R30k LAIs of both Vendors
df_r30k_lai_summ = pd.concat([df_nok_lai_r30k_mss_summ, 
                                df_eri_lai_r30k_mss_summ], ignore_index=True, sort=False)

In [21]:
# Set name and path for the exported file
today_date = datetime.today().strftime('%Y-%m-%d')
today_date = today_date.replace('-', '')
file_name = today_date + ' - BASE Def LAI & R30k sum' + '.xlsx'
export_path = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/'
file_exp_path = export_path + file_name

In [22]:
# Uncomment to export with excel writer object
with pd.ExcelWriter(file_exp_path) as writer:
    df_def_lai_summ.to_excel(writer, sheet_name='ALL Def LAIs', index=False)
    df_r30k_lai_summ.to_excel(writer, sheet_name='ALL R30k LAIs', index=False)
    df_nok_lai_def_mss_full.to_excel(writer, sheet_name='NOK Def LAI FULL', index=False)
    df_eri_lai_def_mss_full.to_excel(writer, sheet_name='ERI Def LAI FULL', index=False)
    df_nok_lai_r30k_mss_full.to_excel(writer, sheet_name='NOK R30k LAI FULL', index=False)
    df_nok_lai_r30k_mss_full.to_excel(writer, sheet_name='ERI R30k LAI FULL', index=False)

### Plot + Insights

In [ ]:
# Continue...