# Get 2G & 3G & LAI<=>RNC mapping information from Nokia & Ericsson's MSSs

## Import Modules

In [1]:
# Import modules (NOK_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit
from datetime import datetime

%matplotlib inline
%load_ext autoreload
%autoreload 2

## Define paths to the Nokia & Ericsson's logfiles

In [2]:
# Define paths to 2G logfiles...
NOK_path_to_2g_cell_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220504 - ZEPO 2G - All_MSS.txt'
ERI_path_to_2g_cell_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220504 - MGCEP - All MSS.txt'

In [3]:
# Define paths to 3G logfiles...
NOK_path_to_3g_cell_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220504 - ZEPO 3G - All_MSS.txt'
ERI_path_to_3g_cell_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220504 - MGAAP - All MSS.txt'

In [4]:
# Define paths to LAI<=>RNC mapping logfiles...
NOK_path_to_lai_x_rnc_map_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220504 - ZE2I - All_MSS.txt'
ERI_path_to_lai_x_rnc_map_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220504 - MSSBAxERICC - MGMAP.txt'

## Get 2G & 3G & LAI<=>RNC mapping information from Nokia & Ericsson's logfiles

In [5]:
# Get 2G data from Nokia's logfiles
df_nok_2g_cell_full, df_nok_2g_cell_summ = NOK_ERI_Toolkit.get_2g_cell_nok(log_file_path=NOK_path_to_2g_cell_logfile)

In [6]:
# Get 2G data from Ericsson's logfiles
df_eri_2g_cell_full, df_eri_2g_cell_summ = NOK_ERI_Toolkit.get_2g_cell_eri(log_file_path=ERI_path_to_2g_cell_logfile)

In [7]:
# Get LAI x RNC mapping from Nokia's logfiles
df_nok_lai_x_rnc_full, df_nok_lai_x_rnc_summ = NOK_ERI_Toolkit.get_lai_x_rnc_nok(log_file_path=NOK_path_to_lai_x_rnc_map_logfile)

In [8]:
# Get LAI x RNC mapping from Ericsson's logfiles
df_eri_lai_x_rnc_full, df_eri_lai_x_rnc_summ = NOK_ERI_Toolkit.get_lai_x_rnc_eri(log_file_path=ERI_path_to_lai_x_rnc_map_logfile)

In [9]:
# Get 3G (no NE info) data from Nokia's logfiles
df_nok_3g_cell_no_ne_full, df_nok_3g_cell_no_ne_summ = NOK_ERI_Toolkit.get_3g_cell_no_ne_nok(log_file_path=NOK_path_to_3g_cell_logfile)

In [10]:
# Get 3G (no NE info) data from Ericsson's logfiles
df_eri_3g_cell_no_ne_full, df_eri_3g_cell_no_ne_summ = NOK_ERI_Toolkit.get_3g_cell_no_ne_eri(log_file_path=ERI_path_to_3g_cell_logfile)

In [11]:
# Get 3G (with NE info) data from Nokia's logfiles
df_nok_3g_cell_full, df_nok_3g_cell_summ = NOK_ERI_Toolkit.get_3g_cell_nok(log_file_3g_cell_path=NOK_path_to_3g_cell_logfile,
                                                                            log_file_lai_x_rnc_mapp_path=NOK_path_to_lai_x_rnc_map_logfile)

In [12]:
# Get 3G (with NE info) data from Ericsson's logfiles
df_eri_3g_cell_full, df_eri_3g_cell_summ = NOK_ERI_Toolkit.get_3g_cell_eri(log_file_3g_cell_path=ERI_path_to_3g_cell_logfile,
                                                                            log_file_lai_x_rnc_mapp_path=ERI_path_to_lai_x_rnc_map_logfile)

## Print 2G & 3G & LAI<=>RNC mapping information from Nokia & Ericsson's MSSs

#### Summarized Information

In [13]:
# Print 2G Nokia's summary
df_nok_2g_cell_summ

,MSS,NE,CELL_NAME,CELL_NO,MCC,MNC,LAC,CI,CGI
0,MSSBA6,BSCBA48,BACALR41,1692,724,05,2175,444,724-05-2175-444
1,MSSBA6,BSCBA48,BACALR42,1693,724,05,2175,10444,724-05-2175-10444
2,MSSBA6,BSCBA48,BACALR43,1694,724,05,2175,20444,724-05-2175-20444
3,MSSBA6,BSCBA44,BACAR103,4189,724,05,571,20799,724-05-571-20799
4,MSSBA6,BSCBA64,BACARI501,70444,724,05,3371,22225,724-05-3371-22225
...,...,...,...,...,...,...,...,...,...
3611,MSSBAA,BSCBA63,BAALG0202,70690,724,05,1075,23132,724-05-1075-23132
3612,MSSBAA,BSCBA63,BAALG0203,70691,724,05,1075,23133,724-05-1075-23133
3613,MSSBAA,BSCBA63,BAALG0205,70692,724,05,1075,23134,724-05-1075-23134
3614,MSSBAA,BSCBA63,BAALG0206,70693,724,05,1075,23135,724-05-1075-23135
3615,MSSBAA,BSCBA63,BAALG0207,70694,724,05,1075,23136,724-05-1075-23136

In [14]:
# Print 2G Ericsson's summary
df_eri_2g_cell_summ

,MSS,NE,CELL_NAME,CELL_NO,MCC,MNC,LAC,CI,CGI
0,MSSBA8,BSCBA45,BALDO011,N/A,724,05,20473,142,724-05-20473-142
1,MSSBA8,BSCBA45,BALDO014,N/A,724,05,20473,3014,724-05-20473-30142
2,MSSBA8,BSCBA45,BALDO015,N/A,724,05,20473,4014,724-05-20473-40142
3,MSSBA8,BSCBA45,BALDO016,N/A,724,05,20473,5014,724-05-20473-50142
4,MSSBA8,BSCBA45,BACAC021,N/A,724,05,73,220,724-05-73-220
...,...,...,...,...,...,...,...,...,...
88,MSSBA8,BSCBA45,BAUBA01B,N/A,724,05,73,23001,724-05-73-23001
89,MSSBA8,BSCBA45,BAUBA01C,N/A,724,05,73,23002,724-05-73-23002
90,MSSBA8,BSCBA45,BAUBA01E,N/A,724,05,73,23003,724-05-73-23003
91,MSSBA8,BSCBA45,BAUBA01F,N/A,724,05,73,23004,724-05-73-23004
92,MSSBA8,BSCBA45,BAUBA01G,N/A,724,05,73,23005,724-05-73-23005

In [15]:
# Print 3G Nokia's summary
df_nok_3g_cell_summ

,MSS,NE,CELL_NAME,CELL_NO,MCC,MNC,LAC,CI,CGI
0,MSSBA6,RNCBA05,UBAAMA8301,12649,724,05,30971,30000,724-05-30971-30000
1,MSSBA6,RNCBA05,UBAAMA8302,12650,724,05,30971,30001,724-05-30971-30001
2,MSSBA6,RNCBA05,UBAAMA8303,12651,724,05,30971,30002,724-05-30971-30002
3,MSSBA6,RNCBA05,UBAAMA8351,12652,724,05,30971,30003,724-05-30971-30003
4,MSSBA6,RNCBA05,UBAAMA8352,12653,724,05,30971,30004,724-05-30971-30004
...,...,...,...,...,...,...,...,...,...
7492,MSSBAA,RNCBA04,UBAFSA71B,3616,724,05,30475,33370,724-05-30475-33370
7493,MSSBAA,RNCBA04,UBAFSA71C,3617,724,05,30475,33371,724-05-30475-33371
7494,MSSBAA,RNCBA04,UBAFSA71E,3618,724,05,30475,33372,724-05-30475-33372
7495,MSSBAA,RNCBA04,UBAFSA71F,3619,724,05,30475,33373,724-05-30475-33373
7496,MSSBAA,RNCBA04,UBAFSA71G,3620,724,05,30475,33374,724-05-30475-33374

In [16]:
# Print 3G Ericsson's summary
df_eri_3g_cell_summ

,MSS,NE,CELL_NAME,CELL_NO,MCC,MNC,LAC,CI,CGI
0,MSSBA3,RNCBA01,UBABRR01E,N/A,724,05,30177,40195,724-05-30177-40195
1,MSSBA3,RNCBA01,UBABRR01F,N/A,724,05,30177,50195,724-05-30177-50195
2,MSSBA3,RNCBA01,UBABRR01G,N/A,724,05,30177,60195,724-05-30177-60195
3,MSSBA3,RNCSP88,FT00056,N/A,724,05,55073,56,724-05-55073-56
4,MSSBA3,RNCBA01,UBAALM01E,N/A,724,05,30173,62870,724-05-30173-62870
...,...,...,...,...,...,...,...,...,...
3156,MSSBA8,RNCBA06,UBAMAY02B,N/A,724,05,30377,60183,724-05-30377-60183
3157,MSSBA8,RNCBA06,UBAMAY02C,N/A,724,05,30377,60184,724-05-30377-60184
3158,MSSBA8,RNCBA06,UBAMNZ01A,N/A,724,05,30975,60194,724-05-30975-60194
3159,MSSBA8,RNCBA06,UBAMNZ01B,N/A,724,05,30975,60195,724-05-30975-60195
3160,MSSBA8,RNCBA06,UBAMNZ01C,N/A,724,05,30975,60196,724-05-30975-60196

In [17]:
# Print LAI<=>RNC mapping Nokia's summary
df_nok_lai_x_rnc_summ

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI,RNC
0,MSSBA6,2022-05-04,15:39:37,724,05,30971,724-05-30971,MSSBA6-724-05-30971,RNCBA05-724-05-30971,RNCBA05
1,MSSBA6,2022-05-04,15:39:37,724,05,31171,724-05-31171,MSSBA6-724-05-31171,RNCBA05-724-05-31171,RNCBA05
2,MSSBA6,2022-05-04,15:39:37,724,05,31571,724-05-31571,MSSBA6-724-05-31571,RNCBA05-724-05-31571,RNCBA05
3,MSSBA6,2022-05-04,15:39:37,724,05,31071,724-05-31071,MSSBA6-724-05-31071,RNCBA05-724-05-31071,RNCBA05
4,MSSBA6,2022-05-04,15:39:37,724,05,31671,724-05-31671,MSSBA6-724-05-31671,RNCBA05-724-05-31671,RNCBA05
...,...,...,...,...,...,...,...,...,...,...
203,MSSBAA,2022-05-04,15:38:47,724,28,33675,724-28-33675,MSSBAA-724-28-33675,RNCTCSB-724-28-33675,RNCTCSB
204,MSSBAA,2022-05-04,15:38:47,724,05,33975,724-05-33975,MSSBAA-724-05-33975,RNCTCSB-724-05-33975,RNCTCSB
205,MSSBAA,2022-05-04,15:38:47,724,28,33975,724-28-33975,MSSBAA-724-28-33975,RNCTCSB-724-28-33975,RNCTCSB
206,MSSBAA,2022-05-04,15:38:47,724,05,34075,724-05-34075,MSSBAA-724-05-34075,RNCTCSB-724-05-34075,RNCTCSB
207,MSSBAA,2022-05-04,15:38:47,724,28,34075,724-28-34075,MSSBAA-724-28-34075,RNCTCSB-724-28-34075,RNCTCSB

In [18]:
# Print LAI<=>RNC mapping Ericsson's summary
df_eri_lai_x_rnc_summ

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI,RNC
0,MSSBA3,0000-00-00,00:00:00,724,05,53077,724-05-53077,MSSBA3-724-05-53077,RNCBA01-724-05-53077,RNCBA01
1,MSSBA3,0000-00-00,00:00:00,724,05,52874,724-05-52874,MSSBA3-724-05-52874,RNCBA01-724-05-52874,RNCBA01
2,MSSBA3,0000-00-00,00:00:00,724,05,50877,724-05-50877,MSSBA3-724-05-50877,RNCBA01-724-05-50877,RNCBA01
3,MSSBA3,0000-00-00,00:00:00,724,05,51477,724-05-51477,MSSBA3-724-05-51477,RNCBA01-724-05-51477,RNCBA01
4,MSSBA3,0000-00-00,00:00:00,724,05,52377,724-05-52377,MSSBA3-724-05-52377,RNCBA01-724-05-52377,RNCBA01
...,...,...,...,...,...,...,...,...,...,...
123,MSSBA8,0000-00-00,00:00:00,724,05,30377,724-05-30377,MSSBA8-724-05-30377,RNCBA06-724-05-30377,RNCBA06
124,MSSBA8,0000-00-00,00:00:00,724,05,30373,724-05-30373,MSSBA8-724-05-30373,RNCBA06-724-05-30373,RNCBA06
125,MSSBA8,0000-00-00,00:00:00,724,05,55173,724-05-55173,MSSBA8-724-05-55173,RNCBA88-724-05-55173,RNCBA88
126,MSSBA8,0000-00-00,00:00:00,724,05,55075,724-05-55075,MSSBA8-724-05-55075,RNCBA88-724-05-55075,RNCBA88
127,MSSBA8,0000-00-00,00:00:00,724,05,55171,724-05-55171,MSSBA8-724-05-55171,RNCBA88-724-05-55171,RNCBA88

In [19]:
# Print 3G Nokia's summary (no NE information)
df_nok_3g_cell_no_ne_summ

         MSS   CELL_NAME CELL_NO  MCC MNC    LAC     CI                 CGI
0     MSSBA6  UBAAMA8301   12649  724  05  30971  30000  724-05-30971-30000
1     MSSBA6  UBAAMA8302   12650  724  05  30971  30001  724-05-30971-30001
2     MSSBA6  UBAAMA8303   12651  724  05  30971  30002  724-05-30971-30002
3     MSSBA6  UBAAMA8351   12652  724  05  30971  30003  724-05-30971-30003
4     MSSBA6  UBAAMA8352   12653  724  05  30971  30004  724-05-30971-30004
...      ...         ...     ...  ...  ..    ...    ...                 ...
7492  MSSBAA   UBAFSA71B    3616  724  05  30475  33370  724-05-30475-33370
7493  MSSBAA   UBAFSA71C    3617  724  05  30475  33371  724-05-30475-33371
7494  MSSBAA   UBAFSA71E    3618  724  05  30475  33372  724-05-30475-33372
7495  MSSBAA   UBAFSA71F    3619  724  05  30475  33373  724-05-30475-33373
7496  MSSBAA   UBAFSA71G    3620  724  05  30475  33374  724-05-30475-33374

[7497 rows x 8 columns]

In [20]:
# Print 3G Ericsson's summary (no NE information)
df_eri_3g_cell_no_ne_summ

         MSS  CELL_NAME CELL_NO  MCC MNC    LAC     CI                 CGI
0     MSSBA3  UBABRR01E     N/A  724  05  30177  40195  724-05-30177-40195
1     MSSBA3  UBABRR01F     N/A  724  05  30177  50195  724-05-30177-50195
2     MSSBA3  UBABRR01G     N/A  724  05  30177  60195  724-05-30177-60195
3     MSSBA3    FT00056     N/A  724  05  55073     56     724-05-55073-56
4     MSSBA3  UBAALM01E     N/A  724  05  30173  62870  724-05-30173-62870
...      ...        ...     ...  ...  ..    ...    ...                 ...
3156  MSSBA8  UBAMAY02B     N/A  724  05  30377  60183  724-05-30377-60183
3157  MSSBA8  UBAMAY02C     N/A  724  05  30377  60184  724-05-30377-60184
3158  MSSBA8  UBAMNZ01A     N/A  724  05  30975  60194  724-05-30975-60194
3159  MSSBA8  UBAMNZ01B     N/A  724  05  30975  60195  724-05-30975-60195
3160  MSSBA8  UBAMNZ01C     N/A  724  05  30975  60196  724-05-30975-60196

[3161 rows x 8 columns]

#### Full/Extended Information

In [21]:
# Print 2G Nokia's full/extended
df_nok_2g_cell_full

,MSS,Date,Time,CELL_NAME,CELL_NO,NE,NE_No,LAC_Name,MCC,MNC,LAC,CI,Status,RZ,CDR,LAI,MSS-LAI,CGI
0,MSSBA6,2022-05-04,15:05:49,BACALR41,1692,BSCBA48,148,LAC2175,724,05,2175,444,UNLOCKED,1510,75,724-05-2175,MSSBA6-724-05-2175,724-05-2175-444
1,MSSBA6,2022-05-04,15:05:49,BACALR42,1693,BSCBA48,148,LAC2175,724,05,2175,10444,UNLOCKED,1510,75,724-05-2175,MSSBA6-724-05-2175,724-05-2175-10444
2,MSSBA6,2022-05-04,15:05:49,BACALR43,1694,BSCBA48,148,LAC2175,724,05,2175,20444,UNLOCKED,1510,75,724-05-2175,MSSBA6-724-05-2175,724-05-2175-20444
3,MSSBA6,2022-05-04,15:05:49,BACAR103,4189,BSCBA44,144,LAC571,724,05,571,20799,UNLOCKED,1101,71,724-05-571,MSSBA6-724-05-571,724-05-571-20799
4,MSSBA6,2022-05-04,15:05:49,BACARI501,70444,BSCBA64,201,LAC3371,724,05,3371,22225,UNLOCKED,1101,71,724-05-3371,MSSBA6-724-05-3371,724-05-3371-22225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3611,MSSBAA,2022-05-04,15:08:22,BAALG0202,70690,BSCBA63,201,LAC1075,724,05,1075,23132,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23132
3612,MSSBAA,2022-05-04,15:08:22,BAALG0203,70691,BSCBA63,201,LAC1075,724,05,1075,23133,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23133
3613,MSSBAA,2022-05-04,15:08:22,BAALG0205,70692,BSCBA63,201,LAC1075,724,05,1075,23134,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23134
3614,MSSBAA,2022-05-04,15:08:22,BAALG0206,70693,BSCBA63,201,LAC1075,724,05,1075,23135,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23135
3615,MSSBAA,2022-05-04,15:08:22,BAALG0207,70694,BSCBA63,201,LAC1075,724,05,1075,23136,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23136

In [22]:
# Print 2G Ericsson's full/extended
df_eri_2g_cell_full

,MSS,Date,Time,CELL_NAME,CELL_NO,CGI,MCC,MNC,LAC,CI,NE,CO,RO,NCS,EA,LAI,MSS-LAI
0,MSSBA8,0000-00-00,00:00:00,BALDO011,N/A,724-05-20473-142,724,05,20473,142,BSCBA45,0,0,0,73,724-05-20473,MSSBA8-724-05-20473
1,MSSBA8,0000-00-00,00:00:00,BALDO014,N/A,724-05-20473-30142,724,05,20473,3014,BSCBA45,0,0,0,73,724-05-20473,MSSBA8-724-05-20473
2,MSSBA8,0000-00-00,00:00:00,BALDO015,N/A,724-05-20473-40142,724,05,20473,4014,BSCBA45,0,0,0,73,724-05-20473,MSSBA8-724-05-20473
3,MSSBA8,0000-00-00,00:00:00,BALDO016,N/A,724-05-20473-50142,724,05,20473,5014,BSCBA45,0,0,0,73,724-05-20473,MSSBA8-724-05-20473
4,MSSBA8,0000-00-00,00:00:00,BACAC021,N/A,724-05-73-220,724,05,73,220,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,MSSBA8,0000-00-00,00:00:00,BAUBA01B,N/A,724-05-73-23001,724,05,73,23001,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
89,MSSBA8,0000-00-00,00:00:00,BAUBA01C,N/A,724-05-73-23002,724,05,73,23002,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
90,MSSBA8,0000-00-00,00:00:00,BAUBA01E,N/A,724-05-73-23003,724,05,73,23003,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
91,MSSBA8,0000-00-00,00:00:00,BAUBA01F,N/A,724-05-73-23004,724,05,73,23004,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
92,MSSBA8,0000-00-00,00:00:00,BAUBA01G,N/A,724-05-73-23005,724,05,73,23005,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73

In [23]:
# Print 3G Nokia's full/extended
df_nok_3g_cell_full

,MSS,Date,Time,CELL_NAME,CELL_NO,LAC_Name,LAC,MCC,MNC,CI,Status,RZ,CDR,LAI,MSS-LAI,CGI,NE
0,MSSBA6,2022-05-04,15:17:51,UBAAMA8301,12649,LAC30971,30971,724,05,30000,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30000,RNCBA05
1,MSSBA6,2022-05-04,15:17:51,UBAAMA8302,12650,LAC30971,30971,724,05,30001,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30001,RNCBA05
2,MSSBA6,2022-05-04,15:17:51,UBAAMA8303,12651,LAC30971,30971,724,05,30002,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30002,RNCBA05
3,MSSBA6,2022-05-04,15:17:51,UBAAMA8351,12652,LAC30971,30971,724,05,30003,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30003,RNCBA05
4,MSSBA6,2022-05-04,15:17:51,UBAAMA8352,12653,LAC30971,30971,724,05,30004,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30004,RNCBA05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7492,MSSBAA,2022-05-04,15:19:50,UBAFSA71B,3616,LAC30475,30475,724,05,33370,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33370,RNCBA04
7493,MSSBAA,2022-05-04,15:19:50,UBAFSA71C,3617,LAC30475,30475,724,05,33371,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33371,RNCBA04
7494,MSSBAA,2022-05-04,15:19:50,UBAFSA71E,3618,LAC30475,30475,724,05,33372,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33372,RNCBA04
7495,MSSBAA,2022-05-04,15:19:50,UBAFSA71F,3619,LAC30475,30475,724,05,33373,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33373,RNCBA04
7496,MSSBAA,2022-05-04,15:19:50,UBAFSA71G,3620,LAC30475,30475,724,05,33374,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33374,RNCBA04

In [24]:
# Print 3G Ericsson's full/extended
df_eri_3g_cell_full

,MSS,Date,Time,CELL_NAME,CELL_NO,CGI,MCC,MNC,LAC,CI,RO,CO,EA,LAI,MSS-LAI,NE
0,MSSBA3,0000-00-00,00:00:00,UBABRR01E,N/A,724-05-30177-40195,724,05,30177,40195,0,0,77,724-05-30177,MSSBA3-724-05-30177,RNCBA01
1,MSSBA3,0000-00-00,00:00:00,UBABRR01F,N/A,724-05-30177-50195,724,05,30177,50195,0,0,77,724-05-30177,MSSBA3-724-05-30177,RNCBA01
2,MSSBA3,0000-00-00,00:00:00,UBABRR01G,N/A,724-05-30177-60195,724,05,30177,60195,0,0,77,724-05-30177,MSSBA3-724-05-30177,RNCBA01
3,MSSBA3,0000-00-00,00:00:00,FT00056,N/A,724-05-55073-56,724,05,55073,56,0,0,73,724-05-55073,MSSBA3-724-05-55073,RNCSP88
4,MSSBA3,0000-00-00,00:00:00,UBAALM01E,N/A,724-05-30173-62870,724,05,30173,62870,0,0,73,724-05-30173,MSSBA3-724-05-30173,RNCBA01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3156,MSSBA8,0000-00-00,00:00:00,UBAMAY02B,N/A,724-05-30377-60183,724,05,30377,60183,0,0,77,724-05-30377,MSSBA8-724-05-30377,RNCBA06
3157,MSSBA8,0000-00-00,00:00:00,UBAMAY02C,N/A,724-05-30377-60184,724,05,30377,60184,0,0,77,724-05-30377,MSSBA8-724-05-30377,RNCBA06
3158,MSSBA8,0000-00-00,00:00:00,UBAMNZ01A,N/A,724-05-30975-60194,724,05,30975,60194,0,0,75,724-05-30975,MSSBA8-724-05-30975,RNCBA06
3159,MSSBA8,0000-00-00,00:00:00,UBAMNZ01B,N/A,724-05-30975-60195,724,05,30975,60195,0,0,75,724-05-30975,MSSBA8-724-05-30975,RNCBA06
3160,MSSBA8,0000-00-00,00:00:00,UBAMNZ01C,N/A,724-05-30975-60196,724,05,30975,60196,0,0,75,724-05-30975,MSSBA8-724-05-30975,RNCBA06

In [25]:
# Print LAI<=>RNC mapping Nokia's full/extended
df_nok_lai_x_rnc_full

,MSS,Date,Time,RNC,RNC_MCC,RNC_MNC,RNC_ID,RNC_MULT_PLMN,RNC_STAT,RNC_OP_STAT,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI
0,MSSBA6,2022-05-04,15:39:37,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,30971,724-05-30971,MSSBA6-724-05-30971,RNCBA05-724-05-30971
1,MSSBA6,2022-05-04,15:39:37,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,31171,724-05-31171,MSSBA6-724-05-31171,RNCBA05-724-05-31171
2,MSSBA6,2022-05-04,15:39:37,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,31571,724-05-31571,MSSBA6-724-05-31571,RNCBA05-724-05-31571
3,MSSBA6,2022-05-04,15:39:37,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,31071,724-05-31071,MSSBA6-724-05-31071,RNCBA05-724-05-31071
4,MSSBA6,2022-05-04,15:39:37,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,31671,724-05-31671,MSSBA6-724-05-31671,RNCBA05-724-05-31671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,MSSBAA,2022-05-04,15:38:47,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,28,33675,724-28-33675,MSSBAA-724-28-33675,RNCTCSB-724-28-33675
204,MSSBAA,2022-05-04,15:38:47,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,05,33975,724-05-33975,MSSBAA-724-05-33975,RNCTCSB-724-05-33975
205,MSSBAA,2022-05-04,15:38:47,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,28,33975,724-28-33975,MSSBAA-724-28-33975,RNCTCSB-724-28-33975
206,MSSBAA,2022-05-04,15:38:47,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,05,34075,724-05-34075,MSSBAA-724-05-34075,RNCTCSB-724-05-34075
207,MSSBAA,2022-05-04,15:38:47,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,28,34075,724-28-34075,MSSBAA-724-28-34075,RNCTCSB-724-28-34075

In [26]:
# Print LAI<=>RNC mapping Ericsson's full/extended
df_eri_lai_x_rnc_full

,MSS,Date,Time,RNC,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI
0,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,53077,724-05-53077,MSSBA3-724-05-53077,RNCBA01-724-05-53077
1,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,52874,724-05-52874,MSSBA3-724-05-52874,RNCBA01-724-05-52874
2,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,50877,724-05-50877,MSSBA3-724-05-50877,RNCBA01-724-05-50877
3,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,51477,724-05-51477,MSSBA3-724-05-51477,RNCBA01-724-05-51477
4,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,52377,724-05-52377,MSSBA3-724-05-52377,RNCBA01-724-05-52377
...,...,...,...,...,...,...,...,...,...,...
123,MSSBA8,0000-00-00,00:00:00,RNCBA06,724,05,30377,724-05-30377,MSSBA8-724-05-30377,RNCBA06-724-05-30377
124,MSSBA8,0000-00-00,00:00:00,RNCBA06,724,05,30373,724-05-30373,MSSBA8-724-05-30373,RNCBA06-724-05-30373
125,MSSBA8,0000-00-00,00:00:00,RNCBA88,724,05,55173,724-05-55173,MSSBA8-724-05-55173,RNCBA88-724-05-55173
126,MSSBA8,0000-00-00,00:00:00,RNCBA88,724,05,55075,724-05-55075,MSSBA8-724-05-55075,RNCBA88-724-05-55075
127,MSSBA8,0000-00-00,00:00:00,RNCBA88,724,05,55171,724-05-55171,MSSBA8-724-05-55171,RNCBA88-724-05-55171

In [27]:
# Print 3G Nokia's full/extended (no NE information)
df_nok_3g_cell_no_ne_full

,MSS,Date,Time,CELL_NAME,CELL_NO,LAC_Name,LAC,MCC,MNC,CI,Status,RZ,CDR,LAI,MSS-LAI,CGI
0,MSSBA6,2022-05-04,15:17:51,UBAAMA8301,12649,LAC30971,30971,724,05,30000,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30000
1,MSSBA6,2022-05-04,15:17:51,UBAAMA8302,12650,LAC30971,30971,724,05,30001,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30001
2,MSSBA6,2022-05-04,15:17:51,UBAAMA8303,12651,LAC30971,30971,724,05,30002,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30002
3,MSSBA6,2022-05-04,15:17:51,UBAAMA8351,12652,LAC30971,30971,724,05,30003,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30003
4,MSSBA6,2022-05-04,15:17:51,UBAAMA8352,12653,LAC30971,30971,724,05,30004,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7492,MSSBAA,2022-05-04,15:19:50,UBAFSA71B,3616,LAC30475,30475,724,05,33370,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33370
7493,MSSBAA,2022-05-04,15:19:50,UBAFSA71C,3617,LAC30475,30475,724,05,33371,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33371
7494,MSSBAA,2022-05-04,15:19:50,UBAFSA71E,3618,LAC30475,30475,724,05,33372,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33372
7495,MSSBAA,2022-05-04,15:19:50,UBAFSA71F,3619,LAC30475,30475,724,05,33373,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33373
7496,MSSBAA,2022-05-04,15:19:50,UBAFSA71G,3620,LAC30475,30475,724,05,33374,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33374

In [28]:
# Print 3G Ericsson's full/extended (no NE information)
df_eri_3g_cell_no_ne_full

,MSS,Date,Time,CELL_NAME,CELL_NO,CGI,MCC,MNC,LAC,CI,RO,CO,EA,LAI,MSS-LAI
0,MSSBA3,0000-00-00,00:00:00,UBABRR01E,N/A,724-05-30177-40195,724,05,30177,40195,0,0,77,724-05-30177,MSSBA3-724-05-30177
1,MSSBA3,0000-00-00,00:00:00,UBABRR01F,N/A,724-05-30177-50195,724,05,30177,50195,0,0,77,724-05-30177,MSSBA3-724-05-30177
2,MSSBA3,0000-00-00,00:00:00,UBABRR01G,N/A,724-05-30177-60195,724,05,30177,60195,0,0,77,724-05-30177,MSSBA3-724-05-30177
3,MSSBA3,0000-00-00,00:00:00,FT00056,N/A,724-05-55073-56,724,05,55073,56,0,0,73,724-05-55073,MSSBA3-724-05-55073
4,MSSBA3,0000-00-00,00:00:00,UBAALM01E,N/A,724-05-30173-62870,724,05,30173,62870,0,0,73,724-05-30173,MSSBA3-724-05-30173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3156,MSSBA8,0000-00-00,00:00:00,UBAMAY02B,N/A,724-05-30377-60183,724,05,30377,60183,0,0,77,724-05-30377,MSSBA8-724-05-30377
3157,MSSBA8,0000-00-00,00:00:00,UBAMAY02C,N/A,724-05-30377-60184,724,05,30377,60184,0,0,77,724-05-30377,MSSBA8-724-05-30377
3158,MSSBA8,0000-00-00,00:00:00,UBAMNZ01A,N/A,724-05-30975-60194,724,05,30975,60194,0,0,75,724-05-30975,MSSBA8-724-05-30975
3159,MSSBA8,0000-00-00,00:00:00,UBAMNZ01B,N/A,724-05-30975-60195,724,05,30975,60195,0,0,75,724-05-30975,MSSBA8-724-05-30975
3160,MSSBA8,0000-00-00,00:00:00,UBAMNZ01C,N/A,724-05-30975-60196,724,05,30975,60196,0,0,75,724-05-30975,MSSBA8-724-05-30975

## Export to excel

In [29]:
# Create a unique DataFram with 2G & 3G summary of both Vendors
df_all_cell_summ = pd.concat([df_nok_2g_cell_summ, 
                                df_eri_2g_cell_summ,
                                df_nok_3g_cell_summ,
                                df_eri_3g_cell_summ], ignore_index=True, sort=False)

In [30]:
# Create a unique DataFram with LAI x RNC mapping summary of both Vendors
df_all_lai_x_rnc_summ = pd.concat([df_nok_lai_x_rnc_summ, 
                                    df_eri_lai_x_rnc_summ], ignore_index=True, sort=False)

In [31]:
# Set name and path for the exported file
today_date = datetime.today().strftime('%Y-%m-%d')
today_date = today_date.replace('-', '')
file_name = today_date + ' - BASE Sites CORE sum' + '.xlsx'
export_path = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/'
file_exp_path = export_path + file_name

In [32]:
# Uncomment to export with excel writer object
with pd.ExcelWriter(file_exp_path) as writer:
    df_all_cell_summ.to_excel(writer, sheet_name='ALL CELLs', index=False)
    df_all_lai_x_rnc_summ.to_excel(writer, sheet_name='ALL LAI x RNC', index=False)
    df_nok_2g_cell_full.to_excel(writer, sheet_name='2G NOK FULL', index=False)
    df_eri_2g_cell_full.to_excel(writer, sheet_name='2G ERI FULL', index=False)
    df_nok_3g_cell_full.to_excel(writer, sheet_name='3G NOK FULL', index=False)
    df_eri_3g_cell_full.to_excel(writer, sheet_name='3G ERI FULL', index=False)
    df_nok_lai_x_rnc_full.to_excel(writer, sheet_name='LAI x RNC NOK', index=False)
    df_eri_lai_x_rnc_full.to_excel(writer, sheet_name='LAI x RNC ERI', index=False)

### Plot + Insights

In [ ]:
# Continue...