# Get 2G & 3G & LAI<=>RNC mapping information from Nokia & Ericsson's MSSs

## Import Modules

In [6]:
# Import modules (NOK_Toolkit) & others that will be needed along the program
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import NOK_ERI_Toolkit as NOK_ERI_Toolkit

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Define paths to the Nokia & Ericsson's logfiles

In [ ]:
# Define paths to 2G logfiles...
NOK_path_to_2g_cell_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZEPO 2G - All_MSS.txt'
ERI_path_to_2g_cell_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MGCEP - All MSS.txt'

In [1]:
# Define paths to 3G logfiles...
NOK_path_to_3g_cell_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZEPO 3G - All_MSS.txt'
ERI_path_to_3g_cell_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MGAAP - All MSS.txt'

In [ ]:
# Define paths to LAI<=>RNC mapping logfiles...
NOK_path_to_lai_x_rnc_map_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - ZE2I - All_MSS.txt'
ERI_path_to_lai_x_rnc_map_logfile = 'C:/Users/Alvaro/OneDrive/My Files/_Scripts_Models/Commands Generators Logs/20220204 - MSSBAxERICC - MGMAP.txt'

## Get 2G & 3G & LAI<=>RNC mapping information from Nokia & Ericsson's logfiles

In [10]:
# Get 2G data from Nokia's logfiles
df_nok_2g_cell_full, df_nok_2g_cell_summ = NOK_ERI_Toolkit.get_2g_cell_nok(log_file_path=NOK_path_to_2g_cell_logfile)

In [38]:
# Get 2G data from Ericsson's logfiles
df_eri_2g_cell_full, df_eri_2g_cell_summ = NOK_ERI_Toolkit.get_2g_cell_eri(log_file_path=ERI_path_to_2g_cell_logfile)

In [12]:
# Get LAI x RNC mapping from Nokia's logfiles
df_nok_lai_x_rnc_full, df_nok_lai_x_rnc_summ = NOK_ERI_Toolkit.get_lai_x_rnc_nok(log_file_path=NOK_path_to_lai_x_rnc_map_logfile)

In [ ]:
# Get LAI x RNC mapping from Ericsson's logfiles
df_eri_lai_x_rnc_full, df_eri_lai_x_rnc_summ = NOK_ERI_Toolkit.get_lai_x_rnc_eri(log_file_path=ERI_path_to_lai_x_rnc_map_logfile)

In [ ]:
# Get 3G (no NE info) data from Nokia's logfiles
df_nok_3g_cell_no_ne_full, df_nok_3g_cell_no_ne_summ = NOK_ERI_Toolkit.get_3g_cell_no_ne_nok(log_file_path=NOK_path_to_3g_cell_logfile)

In [ ]:
# Get 3G (no NE info) data from Ericsson's logfiles
df_eri_3g_cell_no_ne_full, df_eri_3g_cell_no_ne_summ = NOK_ERI_Toolkit.get_3g_cell_no_ne_eri(log_file_path=ERI_path_to_3g_cell_logfile)

In [ ]:
# Get 3G (with NE info) data from Nokia's logfiles
df_nok_3g_cell_full, df_nok_3g_cell_summ = NOK_ERI_Toolkit.get_3g_cell_nok(log_file_3g_cell_path=NOK_path_to_3g_cell_logfile,
                                                                            log_file_lai_x_rnc_mapp_path=NOK_path_to_lai_x_rnc_map_logfile)

In [ ]:
# Get 3G (with NE info) data from Ericsson's logfiles
df_eri_3g_cell_full, df_eri_3g_cell_summ = NOK_ERI_Toolkit.get_3g_cell_eri(log_file_3g_cell_path=ERI_path_to_3g_cell_logfile,
                                                                            log_file_lai_x_rnc_mapp_path=ERI_path_to_lai_x_rnc_map_logfile)

## Print 2G & 3G & LAI<=>RNC mapping information from Nokia & Ericsson's MSSs

#### Summarized Information

In [ ]:
# Print 2G Nokia's summary
df_nok_2g_cell_summ

,MSS,Date,Time,Name,NE,MCC,MNC,LAC,CI,CGI
0,MSSBA6,2022-02-04,09:26:33,BAFSAB71,BSCBA49,724,05,2575,710,724-05-2575-710
1,MSSBA6,2022-02-04,09:26:33,BAFSAB72,BSCBA49,724,05,2575,10710,724-05-2575-10710
2,MSSBA6,2022-02-04,09:26:33,BAFSA011,BSCBA49,724,05,1475,108,724-05-1475-108
3,MSSBA6,2022-02-04,09:26:33,BAFSA012,BSCBA49,724,05,1475,10108,724-05-1475-10108
4,MSSBA6,2022-02-04,09:26:33,BAFSA013,BSCBA49,724,05,1475,20108,724-05-1475-20108
...,...,...,...,...,...,...,...,...,...,...
3704,MSSBAA,2022-02-04,09:29:03,BAALG0202,BSCBA63,724,05,1075,23132,724-05-1075-23132
3705,MSSBAA,2022-02-04,09:29:03,BAALG0203,BSCBA63,724,05,1075,23133,724-05-1075-23133
3706,MSSBAA,2022-02-04,09:29:03,BAALG0205,BSCBA63,724,05,1075,23134,724-05-1075-23134
3707,MSSBAA,2022-02-04,09:29:03,BAALG0206,BSCBA63,724,05,1075,23135,724-05-1075-23135
3708,MSSBAA,2022-02-04,09:29:03,BAALG0207,BSCBA63,724,05,1075,23136,724-05-1075-23136

In [ ]:
# Print 2G Ericsson's summary
df_eri_2g_cell_summ

,MSS,Date,Time,Name,NE,MCC,MNC,LAC,CI,CGI
0,MSSBA8,0000-00-00,00:00:00,BACAC021,BSCBA45,724,05,73,220,724-05-73-220
1,MSSBA8,0000-00-00,00:00:00,BACAC022,BSCBA45,724,05,73,10220,724-05-73-10220
2,MSSBA8,0000-00-00,00:00:00,BAITM021,BSCBA45,724,05,24973,234,724-05-24973-234
3,MSSBA8,0000-00-00,00:00:00,BAITM022,BSCBA45,724,05,24973,1023,724-05-24973-1023
4,MSSBA8,0000-00-00,00:00:00,BAITM023,BSCBA45,724,05,24973,2023,724-05-24973-2023
...,...,...,...,...,...,...,...,...,...,...
109,MSSBA8,0000-00-00,00:00:00,BAUBA01B,BSCBA45,724,05,73,23001,724-05-73-23001
110,MSSBA8,0000-00-00,00:00:00,BAUBA01C,BSCBA45,724,05,73,23002,724-05-73-23002
111,MSSBA8,0000-00-00,00:00:00,BAUBA01E,BSCBA45,724,05,73,23003,724-05-73-23003
112,MSSBA8,0000-00-00,00:00:00,BAUBA01F,BSCBA45,724,05,73,23004,724-05-73-23004
113,MSSBA8,0000-00-00,00:00:00,BAUBA01G,BSCBA45,724,05,73,23005,724-05-73-23005

In [ ]:
# Print 3G Nokia's summary
df_nok_3g_cell_summ

,MSS,Date,Time,Name,NE,MCC,MNC,LAC,CI,CGI
0,MSSBA6,2022-02-04,09:33:59,UBAAMA8301,RNCBA05,724,05,30971,30000,724-05-30971-30000
1,MSSBA6,2022-02-04,09:33:59,UBAAMA8302,RNCBA05,724,05,30971,30001,724-05-30971-30001
2,MSSBA6,2022-02-04,09:33:59,UBAAMA8303,RNCBA05,724,05,30971,30002,724-05-30971-30002
3,MSSBA6,2022-02-04,09:33:59,UBAAMA8351,RNCBA05,724,05,30971,30003,724-05-30971-30003
4,MSSBA6,2022-02-04,09:33:59,UBAAMA8352,RNCBA05,724,05,30971,30004,724-05-30971-30004
...,...,...,...,...,...,...,...,...,...,...
7567,MSSBAA,2022-02-04,09:35:50,UBAFSA71B,RNCBA04,724,05,30475,33370,724-05-30475-33370
7568,MSSBAA,2022-02-04,09:35:50,UBAFSA71C,RNCBA04,724,05,30475,33371,724-05-30475-33371
7569,MSSBAA,2022-02-04,09:35:50,UBAFSA71E,RNCBA04,724,05,30475,33372,724-05-30475-33372
7570,MSSBAA,2022-02-04,09:35:50,UBAFSA71F,RNCBA04,724,05,30475,33373,724-05-30475-33373
7571,MSSBAA,2022-02-04,09:35:50,UBAFSA71G,RNCBA04,724,05,30475,33374,724-05-30475-33374

In [ ]:
# Print 3G Ericsson's summary
df_eri_3g_cell_summ

,MSS,Date,Time,Name,NE,MCC,MNC,LAC,CI,CGI
0,MSSBA3,0000-00-00,00:00:00,UBABRR01E,RNCBA01,724,05,30177,40195,724-05-30177-40195
1,MSSBA3,0000-00-00,00:00:00,UBABRR01F,RNCBA01,724,05,30177,50195,724-05-30177-50195
2,MSSBA3,0000-00-00,00:00:00,UBABRR01G,RNCBA01,724,05,30177,60195,724-05-30177-60195
3,MSSBA3,0000-00-00,00:00:00,FT00056,RNCSP88,724,05,55073,56,724-05-55073-56
4,MSSBA3,0000-00-00,00:00:00,UBAALM01E,RNCBA01,724,05,30173,62870,724-05-30173-62870
...,...,...,...,...,...,...,...,...,...,...
3142,MSSBA8,0000-00-00,00:00:00,UBAMAY02B,RNCBA06,724,05,30377,60183,724-05-30377-60183
3143,MSSBA8,0000-00-00,00:00:00,UBAMAY02C,RNCBA06,724,05,30377,60184,724-05-30377-60184
3144,MSSBA8,0000-00-00,00:00:00,UBAMNZ01A,RNCBA06,724,05,30975,60194,724-05-30975-60194
3145,MSSBA8,0000-00-00,00:00:00,UBAMNZ01B,RNCBA06,724,05,30975,60195,724-05-30975-60195
3146,MSSBA8,0000-00-00,00:00:00,UBAMNZ01C,RNCBA06,724,05,30975,60196,724-05-30975-60196

In [ ]:
# Print LAI<=>RNC mapping Nokia's summary
df_nok_lai_x_rnc_summ

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI,RNC
0,MSSBA6,2022-02-04,09:47:18,724,05,30971,724-05-30971,MSSBA6-724-05-30971,RNCBA05-724-05-30971,RNCBA05
1,MSSBA6,2022-02-04,09:47:18,724,05,31171,724-05-31171,MSSBA6-724-05-31171,RNCBA05-724-05-31171,RNCBA05
2,MSSBA6,2022-02-04,09:47:18,724,05,31571,724-05-31571,MSSBA6-724-05-31571,RNCBA05-724-05-31571,RNCBA05
3,MSSBA6,2022-02-04,09:47:18,724,05,31071,724-05-31071,MSSBA6-724-05-31071,RNCBA05-724-05-31071,RNCBA05
4,MSSBA6,2022-02-04,09:47:18,724,05,31671,724-05-31671,MSSBA6-724-05-31671,RNCBA05-724-05-31671,RNCBA05
...,...,...,...,...,...,...,...,...,...,...
218,MSSBAA,2022-02-04,09:46:14,724,28,33675,724-28-33675,MSSBAA-724-28-33675,RNCTCSB-724-28-33675,RNCTCSB
219,MSSBAA,2022-02-04,09:46:14,724,05,33975,724-05-33975,MSSBAA-724-05-33975,RNCTCSB-724-05-33975,RNCTCSB
220,MSSBAA,2022-02-04,09:46:14,724,28,33975,724-28-33975,MSSBAA-724-28-33975,RNCTCSB-724-28-33975,RNCTCSB
221,MSSBAA,2022-02-04,09:46:14,724,05,34075,724-05-34075,MSSBAA-724-05-34075,RNCTCSB-724-05-34075,RNCTCSB
222,MSSBAA,2022-02-04,09:46:14,724,28,34075,724-28-34075,MSSBAA-724-28-34075,RNCTCSB-724-28-34075,RNCTCSB

In [ ]:
# Print LAI<=>RNC mapping Ericsson's summary
df_eri_lai_x_rnc_summ

,MSS,Date,Time,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI,RNC
0,MSSBA3,0000-00-00,00:00:00,724,05,50877,724-05-50877,MSSBA3-724-05-50877,RNCBA01-724-05-50877,RNCBA01
1,MSSBA3,0000-00-00,00:00:00,724,05,51477,724-05-51477,MSSBA3-724-05-51477,RNCBA01-724-05-51477,RNCBA01
2,MSSBA3,0000-00-00,00:00:00,724,05,52377,724-05-52377,MSSBA3-724-05-52377,RNCBA01-724-05-52377,RNCBA01
3,MSSBA3,0000-00-00,00:00:00,724,05,54477,724-05-54477,MSSBA3-724-05-54477,RNCBA01-724-05-54477,RNCBA01
4,MSSBA3,0000-00-00,00:00:00,724,05,51077,724-05-51077,MSSBA3-724-05-51077,RNCBA01-724-05-51077,RNCBA01
...,...,...,...,...,...,...,...,...,...,...
117,MSSBA8,0000-00-00,00:00:00,724,05,30377,724-05-30377,MSSBA8-724-05-30377,RNCBA06-724-05-30377,RNCBA06
118,MSSBA8,0000-00-00,00:00:00,724,05,30373,724-05-30373,MSSBA8-724-05-30373,RNCBA06-724-05-30373,RNCBA06
119,MSSBA8,0000-00-00,00:00:00,724,05,55173,724-05-55173,MSSBA8-724-05-55173,RNCBA88-724-05-55173,RNCBA88
120,MSSBA8,0000-00-00,00:00:00,724,05,55075,724-05-55075,MSSBA8-724-05-55075,RNCBA88-724-05-55075,RNCBA88
121,MSSBA8,0000-00-00,00:00:00,724,05,55171,724-05-55171,MSSBA8-724-05-55171,RNCBA88-724-05-55171,RNCBA88

In [ ]:
# Print 3G Nokia's summary (no NE information)
df_nok_3g_cell_no_ne_summ

,MSS,Date,Time,Name,MCC,MNC,LAC,CI,CGI
0,MSSBA6,2022-02-04,09:33:59,UBAAMA8301,724,05,30971,30000,724-05-30971-30000
1,MSSBA6,2022-02-04,09:33:59,UBAAMA8302,724,05,30971,30001,724-05-30971-30001
2,MSSBA6,2022-02-04,09:33:59,UBAAMA8303,724,05,30971,30002,724-05-30971-30002
3,MSSBA6,2022-02-04,09:33:59,UBAAMA8351,724,05,30971,30003,724-05-30971-30003
4,MSSBA6,2022-02-04,09:33:59,UBAAMA8352,724,05,30971,30004,724-05-30971-30004
...,...,...,...,...,...,...,...,...,...
7567,MSSBAA,2022-02-04,09:35:50,UBAFSA71B,724,05,30475,33370,724-05-30475-33370
7568,MSSBAA,2022-02-04,09:35:50,UBAFSA71C,724,05,30475,33371,724-05-30475-33371
7569,MSSBAA,2022-02-04,09:35:50,UBAFSA71E,724,05,30475,33372,724-05-30475-33372
7570,MSSBAA,2022-02-04,09:35:50,UBAFSA71F,724,05,30475,33373,724-05-30475-33373
7571,MSSBAA,2022-02-04,09:35:50,UBAFSA71G,724,05,30475,33374,724-05-30475-33374

In [ ]:
# Print 3G Ericsson's summary (no NE information)
df_eri_3g_cell_no_ne_summ

,MSS,Date,Time,Name,MCC,MNC,LAC,CI,CGI
0,MSSBA3,0000-00-00,00:00:00,UBABRR01E,724,05,30177,40195,724-05-30177-40195
1,MSSBA3,0000-00-00,00:00:00,UBABRR01F,724,05,30177,50195,724-05-30177-50195
2,MSSBA3,0000-00-00,00:00:00,UBABRR01G,724,05,30177,60195,724-05-30177-60195
3,MSSBA3,0000-00-00,00:00:00,FT00056,724,05,55073,56,724-05-55073-56
4,MSSBA3,0000-00-00,00:00:00,UBAALM01E,724,05,30173,62870,724-05-30173-62870
...,...,...,...,...,...,...,...,...,...
3142,MSSBA8,0000-00-00,00:00:00,UBAMAY02B,724,05,30377,60183,724-05-30377-60183
3143,MSSBA8,0000-00-00,00:00:00,UBAMAY02C,724,05,30377,60184,724-05-30377-60184
3144,MSSBA8,0000-00-00,00:00:00,UBAMNZ01A,724,05,30975,60194,724-05-30975-60194
3145,MSSBA8,0000-00-00,00:00:00,UBAMNZ01B,724,05,30975,60195,724-05-30975-60195
3146,MSSBA8,0000-00-00,00:00:00,UBAMNZ01C,724,05,30975,60196,724-05-30975-60196

#### Full/Extended Information

In [28]:
# Print 2G Nokia's full/extended
df_nok_2g_cell_full

,MSS,Date,Time,Name,Number,NE,NE_No,LAC_Name,MCC,MNC,LAC,CI,Status,RZ,CDR,LAI,MSS-LAI,CGI
0,MSSBA6,2022-02-04,09:26:33,BAFSAB71,339,BSCBA49,149,LAC2575,724,05,2575,710,UNLOCKED,1519,75,724-05-2575,MSSBA6-724-05-2575,724-05-2575-710
1,MSSBA6,2022-02-04,09:26:33,BAFSAB72,340,BSCBA49,149,LAC2575,724,05,2575,10710,UNLOCKED,1519,75,724-05-2575,MSSBA6-724-05-2575,724-05-2575-10710
2,MSSBA6,2022-02-04,09:26:33,BAFSA011,1000,BSCBA49,149,LAC1475,724,05,1475,108,UNLOCKED,1519,75,724-05-1475,MSSBA6-724-05-1475,724-05-1475-108
3,MSSBA6,2022-02-04,09:26:33,BAFSA012,1001,BSCBA49,149,LAC1475,724,05,1475,10108,UNLOCKED,1519,75,724-05-1475,MSSBA6-724-05-1475,724-05-1475-10108
4,MSSBA6,2022-02-04,09:26:33,BAFSA013,1002,BSCBA49,149,LAC1475,724,05,1475,20108,UNLOCKED,1519,75,724-05-1475,MSSBA6-724-05-1475,724-05-1475-20108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3704,MSSBAA,2022-02-04,09:29:03,BAALG0202,70690,BSCBA63,201,LAC1075,724,05,1075,23132,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23132
3705,MSSBAA,2022-02-04,09:29:03,BAALG0203,70691,BSCBA63,201,LAC1075,724,05,1075,23133,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23133
3706,MSSBAA,2022-02-04,09:29:03,BAALG0205,70692,BSCBA63,201,LAC1075,724,05,1075,23134,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23134
3707,MSSBAA,2022-02-04,09:29:03,BAALG0206,70693,BSCBA63,201,LAC1075,724,05,1075,23135,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23135
3708,MSSBAA,2022-02-04,09:29:03,BAALG0207,70694,BSCBA63,201,LAC1075,724,05,1075,23136,UNLOCKED,1501,75,724-05-1075,MSSBAA-724-05-1075,724-05-1075-23136

In [37]:
# Print 2G Ericsson's full/extended
df_eri_2g_cell_full

,MSS,Date,Time,Name,CGI,MCC,MNC,LAC,CI,NE,CO,RO,NCS,EA,LAI,MSS-LAI
0,MSSBA8,0000-00-00,00:00:00,BACAC021,724-05-73-220,724,05,73,220,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
1,MSSBA8,0000-00-00,00:00:00,BACAC022,724-05-73-10220,724,05,73,10220,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
2,MSSBA8,0000-00-00,00:00:00,BAITM021,724-05-24973-234,724,05,24973,234,BSCBA45,0,0,0,73,724-05-24973,MSSBA8-724-05-24973
3,MSSBA8,0000-00-00,00:00:00,BAITM022,724-05-24973-1023,724,05,24973,1023,BSCBA45,0,0,0,73,724-05-24973,MSSBA8-724-05-24973
4,MSSBA8,0000-00-00,00:00:00,BAITM023,724-05-24973-2023,724,05,24973,2023,BSCBA45,0,0,0,73,724-05-24973,MSSBA8-724-05-24973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,MSSBA8,0000-00-00,00:00:00,BAUBA01B,724-05-73-23001,724,05,73,23001,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
110,MSSBA8,0000-00-00,00:00:00,BAUBA01C,724-05-73-23002,724,05,73,23002,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
111,MSSBA8,0000-00-00,00:00:00,BAUBA01E,724-05-73-23003,724,05,73,23003,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
112,MSSBA8,0000-00-00,00:00:00,BAUBA01F,724-05-73-23004,724,05,73,23004,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73
113,MSSBA8,0000-00-00,00:00:00,BAUBA01G,724-05-73-23005,724,05,73,23005,BSCBA45,0,0,0,73,724-05-73,MSSBA8-724-05-73

In [30]:
# Print 3G Nokia's full/extended
df_nok_3g_cell_full

,MSS,Date,Time,Name,Number,LAC_Name,LAC,MCC,MNC,CI,Status,RZ,CDR,LAI,MSS-LAI,CGI,NE
0,MSSBA6,2022-02-04,09:33:59,UBAAMA8301,12649,LAC30971,30971,724,05,30000,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30000,RNCBA05
1,MSSBA6,2022-02-04,09:33:59,UBAAMA8302,12650,LAC30971,30971,724,05,30001,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30001,RNCBA05
2,MSSBA6,2022-02-04,09:33:59,UBAAMA8303,12651,LAC30971,30971,724,05,30002,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30002,RNCBA05
3,MSSBA6,2022-02-04,09:33:59,UBAAMA8351,12652,LAC30971,30971,724,05,30003,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30003,RNCBA05
4,MSSBA6,2022-02-04,09:33:59,UBAAMA8352,12653,LAC30971,30971,724,05,30004,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30004,RNCBA05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7567,MSSBAA,2022-02-04,09:35:50,UBAFSA71B,3616,LAC30475,30475,724,05,33370,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33370,RNCBA04
7568,MSSBAA,2022-02-04,09:35:50,UBAFSA71C,3617,LAC30475,30475,724,05,33371,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33371,RNCBA04
7569,MSSBAA,2022-02-04,09:35:50,UBAFSA71E,3618,LAC30475,30475,724,05,33372,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33372,RNCBA04
7570,MSSBAA,2022-02-04,09:35:50,UBAFSA71F,3619,LAC30475,30475,724,05,33373,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33373,RNCBA04
7571,MSSBAA,2022-02-04,09:35:50,UBAFSA71G,3620,LAC30475,30475,724,05,33374,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33374,RNCBA04

In [31]:
# Print 3G Ericsson's full/extended
df_eri_3g_cell_full

,MSS,Date,Time,Name,CGI,MCC,MNC,LAC,CI,RO,CO,EA,LAI,MSS-LAI,NE
0,MSSBA3,0000-00-00,00:00:00,UBABRR01E,724-05-30177-40195,724,05,30177,40195,0,0,77,724-05-30177,MSSBA3-724-05-30177,RNCBA01
1,MSSBA3,0000-00-00,00:00:00,UBABRR01F,724-05-30177-50195,724,05,30177,50195,0,0,77,724-05-30177,MSSBA3-724-05-30177,RNCBA01
2,MSSBA3,0000-00-00,00:00:00,UBABRR01G,724-05-30177-60195,724,05,30177,60195,0,0,77,724-05-30177,MSSBA3-724-05-30177,RNCBA01
3,MSSBA3,0000-00-00,00:00:00,FT00056,724-05-55073-56,724,05,55073,56,0,0,73,724-05-55073,MSSBA3-724-05-55073,RNCSP88
4,MSSBA3,0000-00-00,00:00:00,UBAALM01E,724-05-30173-62870,724,05,30173,62870,0,0,73,724-05-30173,MSSBA3-724-05-30173,RNCBA01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3142,MSSBA8,0000-00-00,00:00:00,UBAMAY02B,724-05-30377-60183,724,05,30377,60183,0,0,77,724-05-30377,MSSBA8-724-05-30377,RNCBA06
3143,MSSBA8,0000-00-00,00:00:00,UBAMAY02C,724-05-30377-60184,724,05,30377,60184,0,0,77,724-05-30377,MSSBA8-724-05-30377,RNCBA06
3144,MSSBA8,0000-00-00,00:00:00,UBAMNZ01A,724-05-30975-60194,724,05,30975,60194,0,0,75,724-05-30975,MSSBA8-724-05-30975,RNCBA06
3145,MSSBA8,0000-00-00,00:00:00,UBAMNZ01B,724-05-30975-60195,724,05,30975,60195,0,0,75,724-05-30975,MSSBA8-724-05-30975,RNCBA06
3146,MSSBA8,0000-00-00,00:00:00,UBAMNZ01C,724-05-30975-60196,724,05,30975,60196,0,0,75,724-05-30975,MSSBA8-724-05-30975,RNCBA06

In [32]:
# Print LAI<=>RNC mapping Nokia's full/extended
df_nok_lai_x_rnc_full

,MSS,Date,Time,RNC,RNC_MCC,RNC_MNC,RNC_ID,RNC_MULT_PLMN,RNC_STAT,RNC_OP_STAT,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI
0,MSSBA6,2022-02-04,09:47:18,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,30971,724-05-30971,MSSBA6-724-05-30971,RNCBA05-724-05-30971
1,MSSBA6,2022-02-04,09:47:18,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,31171,724-05-31171,MSSBA6-724-05-31171,RNCBA05-724-05-31171
2,MSSBA6,2022-02-04,09:47:18,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,31571,724-05-31571,MSSBA6-724-05-31571,RNCBA05-724-05-31571
3,MSSBA6,2022-02-04,09:47:18,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,31071,724-05-31071,MSSBA6-724-05-31071,RNCBA05-724-05-31071
4,MSSBA6,2022-02-04,09:47:18,RNCBA05,724,05,00571,0,UNLOCKED,AVAILABLE,724,05,31671,724-05-31671,MSSBA6-724-05-31671,RNCBA05-724-05-31671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,MSSBAA,2022-02-04,09:46:14,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,28,33675,724-28-33675,MSSBAA-724-28-33675,RNCTCSB-724-28-33675
219,MSSBAA,2022-02-04,09:46:14,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,05,33975,724-05-33975,MSSBAA-724-05-33975,RNCTCSB-724-05-33975
220,MSSBAA,2022-02-04,09:46:14,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,28,33975,724-28-33975,MSSBAA-724-28-33975,RNCTCSB-724-28-33975
221,MSSBAA,2022-02-04,09:46:14,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,05,34075,724-05-34075,MSSBAA-724-05-34075,RNCTCSB-724-05-34075
222,MSSBAA,2022-02-04,09:46:14,RNCTCSB,724,11,00271,1,UNLOCKED,AVAILABLE,724,28,34075,724-28-34075,MSSBAA-724-28-34075,RNCTCSB-724-28-34075

In [33]:
# Print LAI<=>RNC mapping Ericsson's full/extended
df_eri_lai_x_rnc_full

,MSS,Date,Time,RNC,MCC,MNC,LAC,LAI,MSS-LAI,NE-LAI
0,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,50877,724-05-50877,MSSBA3-724-05-50877,RNCBA01-724-05-50877
1,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,51477,724-05-51477,MSSBA3-724-05-51477,RNCBA01-724-05-51477
2,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,52377,724-05-52377,MSSBA3-724-05-52377,RNCBA01-724-05-52377
3,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,54477,724-05-54477,MSSBA3-724-05-54477,RNCBA01-724-05-54477
4,MSSBA3,0000-00-00,00:00:00,RNCBA01,724,05,51077,724-05-51077,MSSBA3-724-05-51077,RNCBA01-724-05-51077
...,...,...,...,...,...,...,...,...,...,...
117,MSSBA8,0000-00-00,00:00:00,RNCBA06,724,05,30377,724-05-30377,MSSBA8-724-05-30377,RNCBA06-724-05-30377
118,MSSBA8,0000-00-00,00:00:00,RNCBA06,724,05,30373,724-05-30373,MSSBA8-724-05-30373,RNCBA06-724-05-30373
119,MSSBA8,0000-00-00,00:00:00,RNCBA88,724,05,55173,724-05-55173,MSSBA8-724-05-55173,RNCBA88-724-05-55173
120,MSSBA8,0000-00-00,00:00:00,RNCBA88,724,05,55075,724-05-55075,MSSBA8-724-05-55075,RNCBA88-724-05-55075
121,MSSBA8,0000-00-00,00:00:00,RNCBA88,724,05,55171,724-05-55171,MSSBA8-724-05-55171,RNCBA88-724-05-55171

In [34]:
# Print 3G Nokia's full/extended (no NE information)
df_nok_3g_cell_no_ne_full

,MSS,Date,Time,Name,Number,LAC_Name,LAC,MCC,MNC,CI,Status,RZ,CDR,LAI,MSS-LAI,CGI
0,MSSBA6,2022-02-04,09:33:59,UBAAMA8301,12649,LAC30971,30971,724,05,30000,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30000
1,MSSBA6,2022-02-04,09:33:59,UBAAMA8302,12650,LAC30971,30971,724,05,30001,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30001
2,MSSBA6,2022-02-04,09:33:59,UBAAMA8303,12651,LAC30971,30971,724,05,30002,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30002
3,MSSBA6,2022-02-04,09:33:59,UBAAMA8351,12652,LAC30971,30971,724,05,30003,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30003
4,MSSBA6,2022-02-04,09:33:59,UBAAMA8352,12653,LAC30971,30971,724,05,30004,UNLOCKED,1115,71,724-05-30971,MSSBA6-724-05-30971,724-05-30971-30004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7567,MSSBAA,2022-02-04,09:35:50,UBAFSA71B,3616,LAC30475,30475,724,05,33370,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33370
7568,MSSBAA,2022-02-04,09:35:50,UBAFSA71C,3617,LAC30475,30475,724,05,33371,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33371
7569,MSSBAA,2022-02-04,09:35:50,UBAFSA71E,3618,LAC30475,30475,724,05,33372,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33372
7570,MSSBAA,2022-02-04,09:35:50,UBAFSA71F,3619,LAC30475,30475,724,05,33373,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33373
7571,MSSBAA,2022-02-04,09:35:50,UBAFSA71G,3620,LAC30475,30475,724,05,33374,UNLOCKED,1600,75,724-05-30475,MSSBAA-724-05-30475,724-05-30475-33374

In [35]:
# Print 3G Ericsson's full/extended (no NE information)
df_eri_3g_cell_no_ne_full

,MSS,Date,Time,Name,CGI,MCC,MNC,LAC,CI,RO,CO,EA,LAI,MSS-LAI
0,MSSBA3,0000-00-00,00:00:00,UBABRR01E,724-05-30177-40195,724,05,30177,40195,0,0,77,724-05-30177,MSSBA3-724-05-30177
1,MSSBA3,0000-00-00,00:00:00,UBABRR01F,724-05-30177-50195,724,05,30177,50195,0,0,77,724-05-30177,MSSBA3-724-05-30177
2,MSSBA3,0000-00-00,00:00:00,UBABRR01G,724-05-30177-60195,724,05,30177,60195,0,0,77,724-05-30177,MSSBA3-724-05-30177
3,MSSBA3,0000-00-00,00:00:00,FT00056,724-05-55073-56,724,05,55073,56,0,0,73,724-05-55073,MSSBA3-724-05-55073
4,MSSBA3,0000-00-00,00:00:00,UBAALM01E,724-05-30173-62870,724,05,30173,62870,0,0,73,724-05-30173,MSSBA3-724-05-30173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3142,MSSBA8,0000-00-00,00:00:00,UBAMAY02B,724-05-30377-60183,724,05,30377,60183,0,0,77,724-05-30377,MSSBA8-724-05-30377
3143,MSSBA8,0000-00-00,00:00:00,UBAMAY02C,724-05-30377-60184,724,05,30377,60184,0,0,77,724-05-30377,MSSBA8-724-05-30377
3144,MSSBA8,0000-00-00,00:00:00,UBAMNZ01A,724-05-30975-60194,724,05,30975,60194,0,0,75,724-05-30975,MSSBA8-724-05-30975
3145,MSSBA8,0000-00-00,00:00:00,UBAMNZ01B,724-05-30975-60195,724,05,30975,60195,0,0,75,724-05-30975,MSSBA8-724-05-30975
3146,MSSBA8,0000-00-00,00:00:00,UBAMNZ01C,724-05-30975-60196,724,05,30975,60196,0,0,75,724-05-30975,MSSBA8-724-05-30975

### Plot + Insights

In [36]:
# Continue...